[2018-10-01 17:30] abk-code commented on #1779
Thanks, I will pick this one up. But may need some help.
https://github.com/Pylons/pyramid/pull/3326 : That has similar
issues for a different method. I wonder what is the recommended
way. Also using iPython3 (or jupyter) is there a way to see this warning?
(Basically trying to recreate, apply a fix and  unit test before I  implement
the code for Kinto)

[2018-10-01 18:16] abk-code commented on #1779
I wonder if this is also related:
https://bugzilla.redhat.com/show_bug.cgi?id=1625599#c11

[2018-10-01 19:42] leplatrem commented on #1779
Awesome!

Apparently you're right, Pyramid might be affected.
But we could start with cornice (we own the repo):
https://github.com/Cornices/cornice/search?q=best_match&unscoped_q=best_match

(Basically trying to recreate, apply a fix and unit test before I implement
the code for Kinto)

I see them when I run the tests `tox -e py36`. Don't bother about unit tests for that case. We can also see the

[2018-10-02 06:57] srivama commented on #1781
Hey! Can I work on this issue?

[2018-10-02 10:41] Cnidarias commented on #1704
And to add to this, what would the expected result be?

[2018-10-02 12:53] leplatrem commented on #1704
Great!

I guess that somewhere around here:
https://github.com/Kinto/kinto/blob/f9e3c6ea2c2a44e855c16cf2969dd73200ac94ac/tests/core/test_views_errors.py#L114

If the querystring contains a bad character, the view should return 400

[2018-10-02 12:55] #1781 closed

[2018-10-02 13:10] abk-code commented on #1779
Ok, thanks. Where do I see the right method to use instead of this old method?
Specifically for 'best_method'

[2018-10-03 07:22] Cnidarias opened #1789 "Type definitions"
Hi,

so since I started working on the project very recently I found it a little difficult to follow the flow of the code at times and I think this could largely be alleviated if we included type definitions (at least for the function definitions), that way we should still remain compatible with python3.5 but it makes it a little easier.

We could of course at the same time switch over to f-String

[2018-10-03 09:48] SeriousFrest commented on #1508
Sorry for my english. Could you help me to configure and run tests correctly. My system info:

Arch Linux
Python 3.7.0
GNU Make 4.2.1

After all tutorials reading, I use in virtual environment(after `make serve` writing "Serving on http://localhost.localdomain:8888"):
`$ tox -- tests/test_views_schema_collection.py`
And I get large list of warnings and errors and don't find direction, which I have

[2018-10-03 11:38] leplatrem commented on #1789
Yes, I would be in favor of adding type definitions! Don't hesitate to start, even if we don't do everything we keep track here of what's remaining to cover :)

[2018-10-03 11:41] leplatrem commented on #1508
Did you try what folks suggest on the InternetZ for the `flake8 ValueError: bad marshal data (unknown type code)` error? (delete pyc files etc)

[2018-10-03 12:50] leplatrem opened #1791 "Default bucket not implicitly created when reached by its id"
[code]

[code]

@Natim would you consider that a bug or feature?

If it's a feature, then we should make it explicit in the docs.

[2018-10-03 13:04] leplatrem commented on #1779
If I understand well what is said here : https://github.com/Pylons/webob/blame/master/src/webob/acceptparse.py
We should use `.acceptable_offers()`

[2018-10-03 13:09] leplatrem commented on #1791
It's kind of tricky to fix, because we register a route with the explicit name `default`:

    config.add_route('default_bucket_collection',
                     '/buckets/default/{subpath:.*}')

[2018-10-03 13:20] leplatrem commented on #1738
Now that I spent some time on the kinto-admin code, I can get back of this issue :)

The fact that the auth form posts to the root URL is expected: we use the root URL response to check if the `user` field is present.

As for the `Error compiling schema` error, I'll reopen the issue on the kinto-admin repo if it pops up again.

I'll close this ;)

[2018-10-03 13:20] #1738 closed

[2018-10-03 14:56] abk-code commented on #1779
Thank you. How do I unit-test to make sure my changes are fine?

[2018-10-03 14:57] leplatrem commented on #1779
In that case I don't think we really need unit-tests. The tests coverage in Cornice is 100% I think.

[2018-10-03 14:58] leplatrem commented on #1779
See https://github.com/Cornices/cornice/pull/493

[2018-10-04 06:51] Cnidarias commented on #1789
Okay great!

I will work on it shortly, the aim is to stay compatible with 3.5 for now right?

[2018-10-04 08:43] #1704 closed

[2018-10-11 09:54] leplatrem opened #1807 "Optimize use of jsonschema.validate()"
It could be interesting to investigate if the fastjsonschema lib would give us better perfs :)

I marked this as easy-pick since everything happens in `schema_validation.py`

https://github.com/horejsek/python-fastjsonschema/

[2018-10-11 09:59] leplatrem opened #1808 "Migrate to JSONschema Draft v7"
Currently we use Draft4. The library that we use supports Draft7

https://json-schema.org/specification.html

The idea would be:
* to use `Draft7Validator` instead of `Draft4Validator` (nothing more...)
* list main changes and add links in CHANGELOG (see spec release notes)
* check compatibility with kinto-admin

[2018-10-11 10:48] #1780 closed

[2018-10-11 10:50] leplatrem opened #1809 "Dissociate settings prefix from project name"
We'd like to use the project name in the Kinto Admin UI.

It could make sense to dissociate the project name from the settings prefix

See https://github.com/Kinto/kinto-admin/issues/655

[2018-10-11 15:03] #1809 closed

[2018-10-12 11:50] Natim opened #1813 "Invalid account_create_principals key"
The `account:create` check_permission code is looking at `account_account:create_principals` settings key rather than `account_create_principals`

[2018-10-15 09:55] leplatrem commented on #1813
Does it mean it hadn't worked since day 1? I'm surprised, I'm pretty sure that not put `account_create_principals = system.Everyone` in settings does not allow to create accounts...

[2018-10-15 09:56] Natim commented on #1813
I don't think so because it used to work for sure.

[2018-10-15 13:46] leplatrem opened #1815 "Per collection caching using dot separator"
Per collection caching can be configured in settings using `_` as separator:

[code]
Since `_` is valid character in both bucket and collection ids, this could be confusing. I propose that we change it to `.`

[2018-10-16 14:36] #1815 closed

[2018-10-17 02:59] glasserc opened #1821 "Accounts plugin leaks existence of accounts"
In this example, `ethan` is a real user.

[code]

Elapsed: almost a second.

[code]

Elapsed: 0.3 seconds.

[2018-10-17 08:47] leplatrem commented on #1821
We have to figure out what is going on during this 1 second. It's far too much for a couple of DB lookups.

[2018-10-17 08:49] leplatrem commented on #1821
How long does it take if given password is wrong for `ethan`?

[2018-10-17 16:14] glasserc commented on #1821
The 1 second was when the password was wrong. If it's right, it drops a little bit:

[code]

Elapsed: 0.58s.

[2018-10-18 13:54] leplatrem opened #1828 "Remove kinto notions from core"
In `kinto/core` there should be no notion of bucket, group etc.

These two (and perhaps more) should be rewritten generically or moved elsewhere:
- kinto/core/scripts.py:def delete_collection(env, bucket_id, resource_name):
- kinto/core/utils.py:    """Extract the bucket_id and resource_name of the given resource (URI)

[2018-10-18 16:54] leplatrem commented on #1828
[code]

[2018-10-21 19:40] peterr101 commented on #1808
I would like to take on this issue if it's still open?

[2018-10-22 09:57] leplatrem commented on #1808
Yes sure!

[2018-10-24 13:20] leplatrem opened #1841 "Raise error instead of returning 404 on __version__ if version file is missing"
https://github.com/Kinto/kinto/blame/master/kinto/core/views/version.py#L49

suggested by @peterbe

4XX errors are client errors. In that case, if the file is not on the server, the client is not guilty ;)

[2018-10-24 15:50] peterbe commented on #1841
Django has a great "solution" to this, the perfectly named [`django.exceptions.ImproperlyConfigured` exception](https://docs.djangoproject.com/en/2.1/ref/exceptions/#improperlyconfigured).

[2018-10-24 21:11] leplatrem commented on #1841
Pyramid has the same `ConfigurationError` :)

[2018-10-27 08:56] DrFaustie commented on #1841
wouldn't something like `raise VersionNotFound` do the trick?

[2018-10-27 09:12] leplatrem commented on #1841
Whatever, we just need to raise an exception with a clear message that the server administrators would receive when a client tries to access this endpoint if the file does not exist...

[2018-10-27 09:13] DrFaustie commented on #1841
I'll do this in an hour or so, no worries!

[2018-10-29 23:20] tiloio opened #1852 "Demo is not working in Microsoft Edge 42.17134.1.0"
The demo (which is contained in the NPM package kinto@12.2.0) is not working in Microsoft Edge.
![image](https://user-images.githubusercontent.com/15227222/47685930-dd7a5180-dbd8-11e8-894a-80cdc69e8602.png)

The Microsoft Edge Version:
![image](https://user-images.githubusercontent.com/15227222/47685981-15819480-dbd9-11e8-9c44-fd26646dd4e1.png)

The error on synchronization:
![image](https://user-

[2018-10-31 14:02] leplatrem commented on #1517
Note: Dependabot supports Pipenv :)

[2018-11-03 00:43] benjamindhimes commented on #1841
Is this issue still open?

[2018-11-03 01:54] DrFaustie commented on #1841
Sorry, I've been busy.
I made a pull request here: https://github.com/Kinto/kinto/pull/1860

If I messed up, feel free to take it

[2018-11-05 13:38] #1841 closed

[2018-11-06 04:51] DrFaustie commented on #1659
Is this something we are still interested in doing?

[2018-11-06 09:21] Natim commented on #1659
This means we will drop support for Python 3.5 and start supporting Python 3.6 only. Since we already decided to move to Black I guess we are now fine with the idea. You can probably start the work although we might not merge it right away but we will eventually.

[2018-11-06 09:49] DrFaustie commented on #1659
My only concern is if some of the logic and references regarding the f strings is changed during this time, it might end up very unwieldy to merge. Or perhaps Github has ways to account for this problem?

[2018-11-06 10:32] Natim commented on #1659
Yes git is pretty handy to merge this kinds of conflicts so I wouldn't worry too much about that.

[2018-11-06 10:36] DrFaustie commented on #1659
What would be good practice here? Should I start a pull request immediately and work on that, or simply submit one when I've finished most of it?

[2018-11-06 10:39] Natim commented on #1659
I would use grin to list all the files I need to handle:

[code]
- [ ] kinto/config/__init__.py
- [ ] kinto/schema_validation.py
- [ ] kinto/core/scripts.py
- [ ] kinto/core/openapi.py
- [ ] kinto/core/__init__.py
- [ ] kinto/core/events.py
- [ ] kinto/core/utils.py
- [ ] kinto/core/cache/postgresql/__init__.py
- [ ] kinto/core/storage/memory.py
- [ ] kinto/core/storage/exceptions.py
- [ ] kinto/c

[2018-11-06 11:07] #1707 closed

[2018-11-06 12:34] Natim commented on #1659
Yes that's definitely the question to answer, I don't think it will hurt anyone to do so to be honest.

[2018-11-06 13:35] peterbe commented on #1659
Ubuntu 16.04 still uses 3.5 and 16.04's end-of-life is [April 2021](https://wiki.ubuntu.com/Releases). And [as you said](https://github.com/Kinto/kinto/issues/1659#issuecomment-436185425) 3.5 is still supported until Sept 2019.

But it's already getting old. 3.7 is already a thing. Is f-strings the only benefit of dropping 3.5? I love f-strings and their clearly very performant but does that perfo

[2018-11-06 13:38] DrFaustie commented on #1659
If f-strings are the only benefit of dropping 3.5 then this wouldn't be a very pressing concern, as there is plenty of time before support needs to be dropped. That said, i believe there are some other issues open? I'm not too familiar though, so that's better for others to discuss.

On the other hand, it's not a bad idea to get the work done in preparation from when it is necessary to move on.

[2018-11-06 13:38] Natim commented on #1659
I guess if someone needs a security backport for Python 3.5 in the future they can file a PR and we will gladly make a release for them. Generaly since Python 3.5+ people are trying to follow along with Python upgrade especially since Python 3.7 adds a bunch of performance improvments.

[2018-11-06 13:49] peterbe commented on #1659
I'm not a core contributor to Kinto but I would recommend with leaving this issue and filing a new one that lists the pros and cons. I can think of some to get started:

**Pros**
- Only having to support 3.6 and 3.7 makes the surface area of debugging and support smaller for the core team.
- f-strings are more performant than `string.format`.
- Fewer Python environments in TravisCI means for faste

[2018-11-06 13:53] Natim commented on #1659
We would be able to rely more on async/await but we don't have any ioloop for now.

[2018-11-06 13:54] Natim commented on #1659
I wouldn't consider it a blocker since it is really handy to install Python > 3.5 on Ubuntu 16.04 see https://askubuntu.com/a/865569/11333

[2018-11-07 10:48] #1813 closed

[2018-11-07 14:39] zakaluka opened #1864 "Question: .NET client?"
Hello,

My search skills are failing me today, so I hope the community here can help.

I am trying to find a client for .NET (any language - C#, F#, etc.).  Does anyone know of an existing one?  If not, does anyone know of something close to use as a starting point?

Thank you.

[2018-11-07 14:55] glasserc commented on #1864
I've never heard of anyone using Kinto in a .NET stack. I don't have a lot of experience with that stack so I'm afraid I can't really make any recommendations for starting points.

[2018-11-09 11:59] anshvyas commented on #1807
Hey, @leplatrem I am interested in taking up this issue. I am a newbie to open source contribution.

[2018-11-09 17:03] leplatrem commented on #1807
Hi @anshvyas !

First, you can try to setup the project development environment locally:
https://kinto.readthedocs.io/en/stable/community.html#hack

Once you have that, you can try to execute the test suite related to schema validation:

The following command should be successful:
`$ py.test tests/test_views_schema_record.py`

Then you introduce some changes and verify that the tests still pass :)

[2018-11-10 09:41] anshvyas commented on #1807
Hey @leplatrem ,
On it.

[2018-11-10 11:14] anshvyas commented on #1807
Hey @leplatrem,
The command `$ py.test tests/test_views_schema_record.py` runs successfully without any errors but the command `$ make tests` show certain failing test related to MemcachedCacheTest. How do I proceed with this?

[2018-11-11 01:56] glasserc commented on #1807
That probably means you don't have `memcached` running on your machine. But it's fine as long as you don't touch the `kinto.core.cache.memcached` code.

[2018-11-12 09:32] anshvyas commented on #1807
Thanks, @glasserc.

[2018-11-12 16:03] leplatrem commented on #1807
In this particular case, you will be executing the validation of a collection creation/modification (in `kinto/views/collections.py`)

[2018-11-12 17:36] Natim opened #1877 "Add support for JSON filtering for in_ and exclude_ filters"
Historically `in_` and `exclude_` filters are comma separated only.

When we introduced `contains_` and `contains_any_` we decided to support JSON objects.

I think we should backport the logic to `in_` and `exclude_` or at least supports it for arrays of strings.

[2018-11-12 17:36] Natim commented on #1877
Refs https://github.com/Kinto/kinto-http.py/issues/187

[2018-11-12 19:31] glasserc commented on #1877
I spent a little while trying to track down the history here. I think it's just an oversight. The main issue with supporting JSON values was in the storage code rather than the query deserialization code -- see https://github.com/Kinto/kinto/pull/1258. Then, when `contains_` and `contains_any_` were added in https://github.com/Kinto/kinto/pull/1604, but the behavior of `in_` and `exclude_` was lef

[2018-11-13 10:33] anshvyas commented on #1807
Thanks @leplatrem That was helpful in understanding the flow.

[2018-11-14 19:54] glasserc commented on #710
`collection_timestamp` -> ?? I don't like `resource_timestamp`. Maybe `plural_timestamp`, or `children_timestamp`?

[2018-11-16 04:17] DrFaustie opened #1884 "Moving up to fstrings"
It's good to keep open a checklist, even if we aren't interested in dropping support for older versions just yet

- [x] `kinto/config/__init__.py`
- [x] `kinto/schema_validation.py`
- [x] `kinto/core/scripts.py`
- [x] `kinto/core/openapi.py`
- [x] `kinto/core/__init__.py`
- [x] `kinto/core/utils.py`
- [x] `kinto/core/cache/postgresql/__init__.py`
- [x] `kinto/core/storage/memory.py`
- [x] `kinto/c

[2018-11-16 10:48] DrFaustie opened #1885 "Displaying username while asking for password confirmation"
Is this intended? Wouldn't displaying something else make a bit more sense?

https://github.com/Kinto/kinto/blob/d08b36b7be86c6342f2f50b4e19ef8a2b4799e5e/kinto/plugins/accounts/scripts.py#L38-L41

[2018-11-16 10:54] leplatrem commented on #1885
We are open to suggestions!

[2018-11-16 10:56] leplatrem commented on #1884
I don't understand this issue, how is it different than #1659?

[2018-11-16 10:58] DrFaustie commented on #1884
I thought it may be better to have a checklist of tasks on the top, since it was decided we could at least start work on this. If others think it's unnecessary we can of course close this.

[2018-11-16 12:05] leplatrem commented on #1884
I think it makes sense to have this exact post as a comment in the issue there, or as the description of a pull-request that starts the work

[2018-11-16 13:42] DrFaustie commented on #1884
That makes sense. I'll make a pull request once my initial tests pass.

[2018-11-16 13:42] #1884 closed

[2018-11-23 14:37] Natim opened #1888 "Add a command to rename and move a collection between buckets"
ie:

```kinto rename --ini kinto.ini /buckets/chefclub/collections/recipes /buckets/chefclub-v2/collections/recipes```

[2018-11-23 18:04] fpiedrah commented on #1652
Hi! Is this task still available? I would like to take it.

Should I just add a new section in the troubleshooting.rst describing this issue? or is there any other suggestion on where to place this?

[2018-11-23 18:06] Natim commented on #1652
Are you sure this is not specific to the kinto-admin rather than kinto?

[2018-11-23 18:20] fpiedrah commented on #1652
I'm not sure. should I try to replicate the issue and see if it is kinto the one where the error originates from?
Because if it's kinto-admin specific we could move this issue to the kinto-admin repo.

[2018-11-23 18:20] Natim commented on #1652
@fpiedrah ok I had a look at this issue and I guess you are correct.

We could say something like: "Make sure that two authorization policy matches a given token, because in that case you might have incoherent user ID behaviours"

[2018-11-23 22:18] leplatrem commented on #1888
Related #903

[2018-11-26 11:06] leplatrem commented on #1652
I think the documentation changes that @fpiedrah submitted were enough and that we can close this. Do you all agree?

[2018-11-26 12:15] Natim commented on #1652
:+1:

[2018-11-26 12:15] #1652 closed

[2018-11-28 14:18] peterbe opened #1894 "UnicodeEncodeError in unquoting the path"
https://sentry.prod.mozaws.net/operations/kinto-webextensions-prod/issues/4723172/?query=is:unresolved

[code]

According to Sentry the `s` variable is `'/v1/buckets/default/collections/ext-8f641XJPcYKMevbo_IHSjtztGey341gtEiw9ABlao6s/records/id-1yESnI5FCxK_U2TXXzeuYA7bl-sOkttf-9Kcs2yHa-c7hdfrm4fw0ÃÂepzt2lrn49'`

[2018-11-28 14:36] peterbe commented on #1807
I suggest we close this issue because switching to `python-fastjsonschema` is probably NOT the right package to use.

Take a look at https://www.peterbe.com/plog/jsonschema-validate-10x-faster-in-python
The point of that blog post is that if you **reuse** an instance, with the same schema, for multiple validations you get a 10x speed boost with good old `python-jsonschema` and potentially even mor

[2018-11-28 14:39] peterbe commented on #1807
Leave it to @leplatrem to decide.

More interestingly would be to file a new issue that measures how often the JSON Schema validation happens on a busy environment and if it'd be possible to use something like a module level cache of reusable instances. E.g something like this:

[code]

[2018-11-28 15:20] glasserc commented on #1507
It seems like we're going to discuss this next week when we're all together in Orlando. In the interests of readiness, could we have some information about what the context/use case here is? It seems like these requests are happening in Buildhub, which we know has a ton of records all in one collection. What kinds of requests are being made? What are they used for?

I want to rule out the risk tha

[2018-11-28 16:46] peterbe commented on #1507
Mind you, Buildhub is being slowly replaced with Buildhub2 which doesn't use Kinto. It's a slowly dying project.

One thing I'm curious about is; are there other collections in the wild (I guess we are restricted to knowing about Mozilla projects) that have large number of records per collection?

[code]

If Mozilla's Buildhub1 is a globally unique instance then your point @glasserc is extremely r

[2018-11-28 17:34] glasserc commented on #1507
Per my comments in https://github.com/Kinto/kinto/issues/1624, I think having two SELECT queries violates abstractions without any real benefit. If the only problem it solves is Buildhub, and if you don't want to use it for Buildhub, I would say no, let's not release it.

I'm open to trying to optimize Buildhub more generally, which is a broader topic, but in order to know how best to attack it, I

[2018-11-28 18:14] leplatrem commented on #1807
The JSON schema validation is called everytime a record is modified in a collection that has a schema.

Sounds like a good idea!

[2018-11-28 18:58] peterbe commented on #1507
I think the gist of https://github.com/Kinto/kinto/issues/1624 isn't about doing *two* SELECT queries. It's about doing 1 `SELECT * FROM ...` when there's a GET request and 1 `SELECT COUNT(*) FROM ...` when there's a HEAD request.

[2018-11-29 08:45] #1808 closed

[2018-11-29 09:59] leplatrem commented on #1894
Those were @Natim favorites :D

This happens in the batch endpoint which is a bit specific. Some more safety checks might be necessary.

Otherwise, this should help greatly https://github.com/Pylons/webob/pull/390

[2018-11-29 10:06] leplatrem commented on #1733
Most of the issues described here were fixed :)

We could still always improve things of course, but we should re-open focused issues where relevant!

Thanks @n1k0 for setting the cat amongst the pigeons*

(*okay I admit, I looked it up on wordreference)

[2018-11-29 10:07] #1733 closed

[2018-11-29 10:10] leplatrem commented on #907
I think this is covered by the permissions endpoint :) Please re-open if I'm wrong!

[2018-11-29 10:10] #907 closed

[2018-11-29 10:13] Natim commented on #1894
I've got to say that thinking of a path as ascii in 2018 seems rather strange to me.

[2018-11-29 10:17] leplatrem commented on #1597
What's the status of this? Is it a «won't fix»?

[2018-11-29 10:30] leplatrem commented on #1885
I don't understand what this issue means.

SSH does this:
[code]

Please re-open with more details if relevant ;)

[2018-11-29 10:30] #1885 closed

[2018-11-29 10:38] Natim commented on #1597
I will close this since this was a question and I guess @ronhanson has got all the answer we can give for it.

We can open a new issue about implementing @glasserc suggestion if the use-case arise in the future.

[2018-11-29 10:38] #1597 closed

[2018-11-29 16:47] #1659 closed

[2018-11-29 17:00] leplatrem commented on #1517
How does Pipenv play with tox?

[2018-11-30 10:21] leplatrem opened #1899 "Crash postgresql backend: TypeError: argument of type 'int' is not iterable"
Apparently happens with `?like_target.version=65`

This works: https://buildhub.prod.mozaws.net/v1/buckets/build-hub/collections/releases/records?_limit=1&like_target.version=%2265%22

This crashes: https://buildhub.prod.mozaws.net/v1/buckets/build-hub/collections/releases/records?_limit=1&like_target.version=65

[code]

A like query with a value that is not a string should return 400

Like it is

[2018-11-30 10:35] Natim opened #1900 "Remove pinning and pip_pre config once jsonschema 3 is released properly"
Refs https://github.com/Kinto/kinto/pull/1898#pullrequestreview-180204186

[2018-11-30 11:48] leplatrem opened #1903 "Remove deprecation: The 'warn' method is deprecated, use 'warning' instead"
[code]

[2018-11-30 11:49] leplatrem opened #1904 "Remove deprecation warning: Resource `mapping` is deprecated, use `schema`"
[code]

[2018-11-30 11:50] leplatrem opened #1905 "Remove psycopg deprecation warnings"
[code]

[2018-11-30 11:54] leplatrem opened #1906 "Remove regex deprecation warnings"
When running `make tests` on master (8efa5ad190) I see those warnings: (not much information about line)

@glasserc I remember you found some in #1758
[code]

[2018-11-30 12:07] Natim commented on #1906
Yes you need to double the backslash.

[2018-11-30 16:33] #1906 closed

[2018-11-30 18:28] peterbe opened #1908 "ValueError when using null-bytes in query strings"
Came from https://sentry.prod.mozaws.net/operations/kinto-webextensions-prod/issues/4992799/ for those with access.

Traceback:

[code]

Querystring parameters:
[code]

<img width="928" alt="screen shot 2018-11-30 at 1 28 10 pm" src="https://user-images.githubusercontent.com/26739/49307650-cebadf00-f4a3-11e8-9547-fef7777580bc.png">

[2018-11-30 22:36] zakaluka commented on #579
Have any best practices or guidelines been documented anywhere, by chance?

[2018-12-02 10:45] leplatrem commented on #579
Unfortunately not yet. But I can start to write a few lines...

[2018-12-02 20:51] peterr101 commented on #1903
Hello, can I begin working on this issue? Is there anything else I should know before I begin?

[2018-12-04 07:48] #1903 closed

[2018-12-04 20:31] fpiedrah commented on #1905
I've been taking a look at this error, I've installed **psycopg2-binary==2.7.6.1** but did not solve the issue. The only thing that worked out was to get an older version of the library **psycopg2==2.7.3.2** but I do not like the idea. Any other thoughts on how to solve this issue?

[2018-12-05 08:35] Natim opened #1916 "Fallback to jsonschema DraftV4 in case Draftv7 is not available"
Mitigate jsonschema alfa version mandatory.

This is quite a blocker to be honest. I upgraded a bunch of packages related to Kinto and I guess we could mitigate the issue by fallbacking to Draftv4.

[2018-12-05 08:37] Natim opened #1917 "Remove code for jsonschema Draftv4"
A bunch of code:
- Here: https://github.com/Kinto/kinto/blob/ea5f66dd4441447292ce26a068bdb690b7de7496/kinto/schema_validation.py#L38-L44
- And here: https://github.com/Kinto/kinto/blob/ea5f66dd4441447292ce26a068bdb690b7de7496/kinto/schema_validation.py#L59-L65

Don't necessarily have sense anymore since we moved to Draftv7.

I believe this should be a follow up of the release of jsonschema 3.0 as

[2018-12-05 08:56] Natim commented on #1905
You need to install **psycopg2-binary** and to remove **psycopg2** from the venv as well.

[2018-12-05 13:39] #1905 closed

[2018-12-05 21:03] glasserc commented on #1525
Just to recap some of the above:

- `inserted` being none seems impossible because the query has two parts. The first part tries to insert the record and replaces any tombstone; the second part tries to fetch an existing record. `inserted` being none means it couldn't insert (there's an existing record) but also that it couldn't fetch an existing record, which seems inconsistent.
- Like Peter says

[2018-12-06 15:11] Natim commented on #1917
Refs https://github.com/Julian/jsonschema/issues/400

[2018-12-06 16:36] leplatrem opened #1921 "Merge setup.py, setup.cfg and pyproject.toml ?"
I don't think we should have all of these.

I would be in favor of `setup.cfg` only :)

[2018-12-06 18:57] leplatrem opened #1922 "Internal error in swagger_spec_validator: AttributeError: module 'jsonschema._validators' has no attribute 'properties_draft4'"
[code]

[2018-12-07 15:52] glasserc commented on #1779
I think this can be closed now that we have the new cornice version.

[2018-12-07 15:54] glasserc commented on #1779
We still seem to have the warnings and indeed cornice still uses best_match.

[2018-12-07 16:17] #1899 closed

[2018-12-08 13:49] Pac23 commented on #1785
@Natim @leplatrem has this been done ? if not can i work on this ?

[2018-12-09 01:48] almet opened #1926 "Kinto not able to start - Regression due to jsonschema Draft7Validator"
#1808 introduced a regression, because the Draft7Validator is not currently released by the jsonschema package (they introduced it in master but it's not released yet)

Solution is either to depend on the master branch of jsonschema (not recommended I guess) or revert this change back until a new version is issued.

[2018-12-09 01:50] almet commented on #1916
Or I guess we should issue a minor with this fix (related to https://github.com/Kinto/kinto/issues/1916)

[2018-12-09 09:15] leplatrem commented on #1926
Workaround is to install the `jsonschema` lib with `--pre` option

[2018-12-10 02:05] glasserc commented on #1916
Refs #1926.

[2018-12-10 02:35] glasserc commented on #1922
I got this as well. I think you need to install the newest bravado-core (from dev-requirements).

[2018-12-10 10:46] #1525 closed

[2018-12-10 10:47] #1904 closed

[2018-12-10 11:00] leplatrem commented on #1926
This should be ok now with 11.2.1

[2018-12-10 11:00] #1926 closed

[2018-12-10 11:00] leplatrem commented on #1922
thanks :)

[2018-12-10 13:49] Pac23 commented on #1785
I will then @leplatrem asap. Can you provide a rundown of some sort, this would be my first open source contribution to a big project. Any pointers that you might want to add? I did understand that I simply have to make the changes in the argparse section and add the command as an argument.

[2018-12-10 16:15] leplatrem commented on #1785
I would suggest adding a `flush-cache` command, that would call the `.flush()` method of the cache backend.

It should not be too hard to get it working. For testing, you can look at:

https://github.com/Kinto/kinto/blob/e19ff82e38dd263d5f6480652d4ed2d02ff50557/tests/core/test_scripts.py#L13-L14

Don't hesitate to open a pull-request very early in the process, this way it's easier to help :)

Enjo

[2018-12-10 17:49] glasserc commented on #1922
Commandeering this issue because a similar stack trace affected @peterbe. It turns out we don't pin swagger_spec_validator. We probably should.

[2018-12-10 17:55] peterbe commented on #1624
That spreadsheet "proved" that the individual SQL statements were a performance boost but I wanted to test this by running the whole thing end-to-end. That would give me a number of how long it takes to make, say, 100 GET requests via HTTP.

Using `master`:

[code]

Using my branch:

[code]

For each of the 4 different collections (named per their cardinality), the performance gain is 0.1 seconds.

[2018-12-10 17:59] peterbe commented on #1624
I know I've said that we shouldn't worry about Buildhub's crazy 1M records per collection but at least this branch gives some hope.

[code]
versus

[code]

Same output, obviously different headers, but it's 33 seconds vs. 0.152 seconds.

[2018-12-10 19:24] #1922 closed

[2018-12-10 20:54] #710 closed

[2018-12-11 05:33] glasserc commented on #1921
I haven't really paid attention to packaging stuff, but I'm in favor of moving to the future (which is I guess `setup.cfg`?).

[2018-12-12 12:23] Natim commented on #1888
To answer @fpiedrah question, I guess this would be done at the permission and storage backends level, while the kinto-wizard command can be used at the HTTP API level and also to move collections and records between instance.

[2018-12-12 17:32] glasserc commented on #1779
Refs #1936, https://github.com/Cornices/cornice/pull/499. This should be OK now.

[2018-12-12 17:32] #1779 closed

[2018-12-13 18:42] peterbe commented on #710
What about https://kinto.readthedocs.io/en/stable/api/1.x/records.html
We renamed the `Total-Records` header to `Total-Objects` (but kept both to be gentle). Should the `/records` (and its documentation) be redirects for `/objects` now?

[2018-12-13 18:48] leplatrem commented on #710
Nope, because in this case `records` is not a «core notion». Now core has the notion of objects, and buckets, collections, groups, records and accounts leverage it.

Before it was confusing because there were the terms records and collections in kinto.core...

[2018-12-14 14:55] Natim opened #1938 "KeyError: 'No such route named collection-record'"
I guess our last updates of master broke something. Is it cornice update?

https://travis-ci.org/Kinto/kinto-http.js/jobs/468031385

Last release seems good though.

[2018-12-16 13:56] Pac23 commented on #1785
@leplatrem thank you for the info,expect a pr soon.

[2018-12-17 12:31] leplatrem commented on #1938
The route is now called `collection-record`, this is due to #710

That means we need a fix in kinto-attachment :)

[2018-12-17 18:47] glasserc commented on #1938
Refs https://github.com/Kinto/kinto-attachment/pull/158.

[2018-12-18 14:08] #1624 closed

[2018-12-18 14:10] glasserc commented on #1507
Is this issue still outstanding, or can we close it now that #1931 landed?

[2018-12-18 14:10] leplatrem commented on #1507
Yes! Thanks!

[2018-12-18 14:10] #1507 closed

[2018-12-19 14:22] leplatrem commented on #1938
I released a new version kinto-attachment

[2018-12-19 14:22] #1938 closed

[2018-12-19 14:54] anselmos commented on #1807
Hi @leplatrem,

It may be a way for `/batch` subrequests to reuse one instance for validation - but that would propably require some changes at Record `process_record` method or invoking it outside of Record and pre-fail before request reaches `process_record` method. WDYT ?

[2018-12-19 22:21] peterbe commented on #1807
In https://github.com/Kinto/kinto/pull/1941 I suggest it closes this issue even though the issue title doesn't really match the solution.

[2018-12-20 11:09] leplatrem opened #1942 "String pattern in ID field not taken into account"
**Steps to reproduce**

- Create a collection with a JSON schema:
[code]

* Post a record `{"id": "abc", "title": "1"}`

**Expected**

* the record should be rejected because `id` field does not match pattern

**Actual behaviour**

* pattern is verified on the title field, but not on `id`

See:

https://github.com/Kinto/kinto/blob/239deea6a3c486187e7a5dbd264434661c48560b/kinto/views/records.py#L63

[2018-12-20 11:12] Pac23 commented on #1785
@leplatrem i have made a pr,i think i am on the right track as far as the parsing goes, not sure if registry.cache.flush() is the function to actually call.

[2018-12-21 13:47] #1807 closed

[2018-12-23 19:37] vanillajonathan opened #1946 "Kinto on the Azure Marketplace"
Publish Kinto on the [Microsoft Azure Marketplace](https://azuremarketplace.microsoft.com/).

See the [Azure Marketplace and AppSource publishing guide](https://docs.microsoft.com/en-us/azure/marketplace/marketplace-publishers-guide).

[2018-12-23 19:56] vanillajonathan opened #1948 "Kinto on the AWS Marketplace"
Add Kinto to the [AWS Marketplace](https://aws.amazon.com/marketplace/) so you can easily use it on the Amazon Web Services cloud.

[2019-01-02 14:37] Natim opened #1952 "Kinto raises 500 in case of requests.exceptions because they don't inherit from Exception"
However it can impact anyone using a custom plugin for Kinto.

Kinto core [defines a catch all exceptions](https://github.com/Kinto/kinto/blob/master/kinto/core/views/errors.py#L99) view_config error function, that will make sure any exception raised within the Kinto service provides a 503 response with a backoff time window.

However if python-requests raises, Kinto will fail, hard quit and resta

[2019-01-02 14:41] Natim commented on #1952
Apparently they do inherit from Exception.

[code]

[2019-01-02 14:41] #1952 closed

[2019-01-03 12:03] #1942 closed

[2019-01-03 17:08] bertjwregeer commented on #1894
@Natim PEP0333 :-/

[2019-01-03 18:16] glasserc opened #1955 "Memory permission backend implementation of remove_principal() is wrong"
According to the `PermissionBase` docstring, `remove_principal` is supposed to `Remove a principal from every user`. In other words, `remove_principal(principal)` is equivalent to `remove_user_principal(user_id, principal) for user_id in all_possible_user_ids`. However, the current implementation stores all permissions of all kinds in one hash table, and removes the principal from permissions of n

[2019-01-04 11:04] Natim commented on #1894
It helps thanks!

![image](https://user-images.githubusercontent.com/229453/50685291-e47a7180-1018-11e9-8653-1ece9919aef3.png)

[2019-01-04 11:43] #1828 closed

[2019-01-04 11:44] leplatrem opened #1959 "Remove the delete-collection command"
This command was introduced to fix a very specific use-case a long time ago where we had created a collection with an invalid ID. It could thus not be deleted via the HTTP API.

I think we can remove it.

(from #1953)

[2019-01-04 13:20] Natim commented on #1959
Yes it makes sense.

[2019-01-06 04:51] manishbit commented on #1562
Hi ,
I am eager to contribute. But since this is my first time can you please brief e a little about the issue.

[2019-01-06 08:06] AnanthKumarVasamsetti commented on #1959
Hi, can I take up this bug and work on. As I started my open source contribution this would be my first fix

[2019-01-06 12:45] leplatrem commented on #1959
Welcome onboard! Go ahead ;)

[2019-01-07 16:20] glasserc commented on #1562
Ah, yes, sorry, I guess I didn't explain it very well in the beginning.

The `admin` plugin is built from the `package.json` located at `kinto/plugins/admin/package.json`. As we release new versions of the `kinto-admin` project (from https://github.com/Kinto/kinto-admin/), we need to ensure that those released versions are the ones used by the admin plugin. However, it's a bit of a tedious chore,

[2019-01-07 17:13] #1955 closed

[2019-01-07 19:51] #442 closed

[2019-01-09 13:36] #1959 closed

[2019-01-14 14:51] magopian opened #1973 "Thoughts about an "accounts registration" plugin"
Following some discussions, here's my rough thoughts on creating an "accounts registration" plugin. The use case is having a flow for users to
1/ register an account
2/ receive a "registration code" via email
2/ validate their email using this "registration code"
3/ reset their password if needed

## Register an account

1/ anonymous POST on `/accountsmgmt/register/<email>`
2/ this creates a recor

[2019-01-15 08:44] Natim commented on #1973
## A couple of notes

- The namespace for the account plugin is `accounts`, why do you want to create a new namespace? Can't we use `/accounts/<email>/reset-password`?

I like the idea of using the email as a username because it ease the sharing capabilities of Kinto. We can share with `account:my.email@tld.com` and all it takes for someone to open it would be to use the `POST /accounts/<email>` e

[2019-01-15 09:53] #1785 closed

[2019-01-15 10:02] leplatrem commented on #1973
I like the idea of extending the accounts plugin with email/registration features.

It would require pyramid_mailer (or Kinto emailer?) to be installed though.

The field `"activated": false` could work, but we need it to be read-only when modified via the HTTP API

I think that using the cache backend for activation/reset tokens would work. If users take too much time to activate the account, and

[2019-01-15 15:05] magopian commented on #1973
I was wondering about this: it means there's no way to ask for a username AND password on account creation, which is a somewhat widespread use case.
Would it make sense to instead have the activation key stored in a `activation-key` field, which, if present, means the account hasn't been activated yet?
This way you'd create the account as usual, and the `activation_key` field would be automaticall

[2019-01-15 15:07] Natim commented on #1973
Fair point.

[2019-01-15 15:55] magopian commented on #1973
How about that: when the "account validation" option is enabled, it requires an extra `activation-form-url` field to be added to the user.
When the user is created, the activation key is appended to this field, and a mail is sent with the content of this field.

To activate the user, this activation key needs to be `POST`ed to the `/accounts/<email>/validate` endpoint, which will remove the `activ

[2019-01-17 09:46] magopian commented on #1973
I just realized: @Natim we can't use the password as the activation key, as it's stored hashed in the record, not in plain text.

[2019-01-17 09:54] Natim commented on #1973
I don't see why it is a problem, because you can hash the one provided to validate it as we currently do with the password.

[2019-01-17 09:55] magopian commented on #1973
How do you pass the activation key (the password) to the user (to the custom validation form)?

[2019-01-17 09:58] magopian commented on #1973
and if the user loses the mail or whatever, there's no way to recreate the link? What happens then, the username is "lost" to everybody?

[2019-01-17 10:00] Natim commented on #1973
If the email is lost you can recreate an account and get an new activation key. If you used the activation key you can use the reset password mechanism to change it again.

If you loose the username, well it depends, what that means but I guess you can still create a new account and ask an admin to give you privileges.

[2019-01-17 14:06] magopian commented on #1973
Implementation question: is there a way to specify a different resource schema given the settings?
I'd like a different resource schema for the `Account` class if the 'account activation' option is enabled in the settings, is that possible?

[2019-01-17 16:11] leplatrem commented on #1973
Yes there must be way with colander defer, or pyramid views scanning.. I wouldn't bother with that for now ;)

[2019-01-17 16:14] magopian commented on #1973
I've started a WIP in https://github.com/Kinto/kinto/compare/master...magopian:1973-account-validation?expand=1

@leplatrem I believe kinto emailer wouldn't work here out of the box because it's missing:
1/ a way to send to the user id (the list of recipients can only be an email address or a group URI, it's not accepting a placeholder like `{id}`
2/ a way to use random fields as placeholders in t

[2019-01-17 23:46] leplatrem opened #1981 "Timestamps of tombstones after plural DELETE"
[code]

[code]

|            | before        | after         |         |
|------------|---------------|---------------|---------|
| collection | 1547747523484 | 1547747520647 | bumped  |
| record1    | 1547747523484 | 1547747574684 |  bumped |
| record2    | 1547747522121 | 1547747522121 | equal   |
|  record3   | 1547747520647 | 1547747520647 | equal   |

Shouldn't they be all bumped?

[2019-01-18 09:21] Natim commented on #1973
I think it is fine not relying on kinto-emailer for that especially because kinto-emailer is a kinto plugin with a focus on notifications regarding resource updates.

+1 to use pyramid_mailer directly.

[2019-01-18 10:00] leplatrem commented on #1981
This is interesting too: the timestamp in the header is not the latest timestamp...
[code]

[2019-01-18 11:43] leplatrem commented on #1973
+1 to use pyramid_mailer directly.

[2019-01-21 15:11] Natim opened #1986 "OpenID authentication in the admin fails with a "authorization: undefined" header"

[2019-01-21 15:17] #1981 closed

[2019-01-21 15:41] leplatrem commented on #1986
When? How? What are the steps?

We use the Admin with OpenID successfully everyday :)

[2019-01-22 14:50] Natim opened #1989 "OpenID authentication plugin is missing a profile view"
When validating the token, the plugn is fetching the profile, but there are no endpoint available to fetch this info: https://github.com/Kinto/kinto/blob/master/kinto/plugins/openid/__init__.py#L74

I would be in favor of adding a `/v1/openid/google/profile` view in order to grab the username and the profile_pic of the user.

This information might also be added in the `user` field of the `/v1/` e

[2019-01-22 15:25] leplatrem commented on #1989
the `user` field in the root URL would be nice, but probably not as easy as the other option ;)

[2019-01-22 15:26] Natim commented on #1989
I would be willing to try that, it makes a lot of sense to me.

[2019-01-23 13:56] #1986 closed

[2019-01-23 16:04] #1989 closed

[2019-01-25 11:21] Natim opened #1997 "Pagination is totally broken when using _sort."
In that case, the filter are not even filtering anymore and records are returned multiple times.

[code]
Unique 69
French 62
Total 120
[code]

[2019-01-25 12:01] leplatrem commented on #1997
I'm surprised, this was supposed to do the job no?

https://github.com/Kinto/kinto/blob/322139b774b356cf024c553affa28548cb3aa694/kinto/core/resource/__init__.py#L1160-L1164

[2019-01-25 12:39] Natim commented on #1997
I am not sure this is our issue, because even filtering doesn't seems to work. I guess this is bypassed somewhere.

[2019-01-25 12:41] Natim commented on #1997
What seems crazy to me is that records seems to be by pairs in the same page.

[code]

[2019-01-25 14:04] nukeador opened #1998 "How to recover an account password?"
Hello,

We are trying to figure out how to recover an account password, basically we want to reset the admin password without having access to this admin account.

Thanks!

/cc @MichaelKohler @johngian @leplatrem

[2019-01-25 14:15] leplatrem commented on #1998
So the easiest wasy I can suggest is to create another account, give it privileges via the `.ini` file.

[code]
Create the `recover` account (using `httpie`):
[code]
Overwrite the `admin` password:

[code]
Delete the `recover` account:

[code]

Let me know how it goes!

[2019-01-25 15:36] leplatrem commented on #1997
I could not reproduce locally :(
This is what I did:
https://gist.github.com/leplatrem/af47241da55693e1c75479b2d1e92f48

[2019-01-25 17:52] Natim commented on #1997
Fixed with #1999

[2019-01-25 17:52] #1997 closed

[2019-01-25 18:01] Natim opened #2000 "CSP error while trying to load kinto-admin 1.23 from /v1/admin/"
https://catalog.chefclub.tools/v1/admin/

![image](https://user-images.githubusercontent.com/229453/51763766-97e3fc80-20d3-11e9-9d79-edb4d941f641.png)

![image](https://user-images.githubusercontent.com/229453/51763787-a3cfbe80-20d3-11e9-9add-a8a8c30fe0a2.png)

[2019-01-25 18:50] leplatrem commented on #2000
hmm..

https://github.com/Kinto/kinto/blob/8455861294cf35963e24946d301e5c04daa6f3f7/kinto/plugins/admin/public/index.html#L6-L7

[2019-01-26 08:01] MichaelKohler commented on #1998
Thanks, we could recover the password.

[2019-01-28 07:19] Natim commented on #2000
It looks like this line doesn't allow for the inline script that get's added in the html build file.

[2019-01-28 20:47] Natim opened #2009 "DELETE /v1/accounts raises a 500"
[code]

[code]

[2019-01-29 08:17] #2000 closed

[2019-01-30 14:00] #2009 closed

[2019-01-30 14:59] leplatrem commented on #1921
There is Flit as well... https://flit.readthedocs.io/en/latest/ which says *no need for setup.py and setup.cfg* ...

[2019-01-31 18:13] yatinmaan commented on #1727
This issue seems to be fixed already (in 8172d312a421540d7d8278a80733cb8ebd97fd60).

[2019-02-02 23:19] eugene-kulak commented on #1508
@leplatrem I'm trying to reproduce this issue and it looks like the schema is incomplete (minVersion and maxVersion use $ref). I'm not an expert in jsonschema, so I might be wrong.

[2019-02-05 11:20] leplatrem commented on #1508
You're right! Sorry!

The full JSON schema would be this one. You can use to try to reproduce the issue and we can simplify it afterwards :)

[code]

[2019-02-05 14:34] eugene-kulak commented on #1508
Thank you @leplatrem, I manage to reproduce the issue now.
This schema should be enough to reproduce:
[code]
With this record:
`{
  "guid": "TestGUID",
  "versionRange": [
    {
      "minVersion": 1
    }
  ]
}`
The issue related error_handler, it doesn't expect array indexes as element names here
https://github.com/Kinto/kinto/blob/c78817514ae0141424d34dfe1ec8fc1488036c8b/kinto/core/errors.py#L1

[2019-02-05 15:16] leplatrem opened #2026 "Release as .pex file?"
It seems cool to be able to do something like `python kinto.pex` :)

We could attach the .pex file on the releases page

https://github.com/pantsbuild/pex

[2019-02-06 10:09] #1508 closed

[2019-02-11 15:23] glasserc opened #2038 "kinto-redis should not be a requirement to build docs"
Redis is a plugin and maintained in a separate repository because it is optional. Requiring it to build docs defeats that optionality, and automatically cross-linking to it in the docs makes it seem more official and supported than it actually is. We should probably scour the docs for any reference to Redis and maybe remove it or at least turn it into a link to the kinto-redis repository.

[2019-02-18 16:31] magopian opened #2050 "Thoughts about a "register to newsletter" plugin"
The idea is that sometimes a new record has to be created from a front-end, with the "admin" rights, but we obviously don't want the admin credentials to be available on the front-end.

Such a case is when you want to allow a user to register to a newsletter on your website: if you create all the records with the same user, that same user can view the list of all the registered emails for the news

[2019-02-19 08:11] Natim commented on #2050
Can you elaborate on why the [`record:create`](http://docs.kinto-storage.org/en/stable/api/1.x/permissions.html#formalism) permission on the collection doesn't meet your requirements?

[2019-02-19 08:24] magopian commented on #2050
Whenever a user creates or modifies a record, the `write` permission is automatically added to the record's permission. So unless you create a new random user for each creation (what I'm doing right now for the newsletter registration, but which requires enabling unlimited "account creation" using the `basicauth` policy), the user used to create the records will have access to all the records crea

[2019-02-19 08:33] Natim commented on #2050
Actually what you said is not entirely true. The write permission will be added only to records that the user created, is that an issue that a user can delete its registration?

[2019-02-19 08:33] leplatrem commented on #2050
I don't think we'll add newsletter features to kinto, but using this use-case to rethink permissions or options makes sense ;)

I would like to have finer-grained permissions :) see #1550 and #368 for example.

Something like...
[code]

[2019-02-19 08:42] magopian commented on #2050
I was going to create a **plugin** for that feature, not modify kinto itself obviously.

As I said above:

Which is probably the best solution. It might be a lot more involved and a lot more work though, so I might spend some time on the "newsletter" plugin in the meanwhile, I'll see.

Closing this now.

[2019-02-19 08:42] #2050 closed

[2019-02-19 08:42] Natim commented on #2050
For instance:

<details>
<summary>newsletter.py</summary>

[code]

</details>

[code]

[2019-02-19 09:53] Natim commented on #2050
I missed the fact that people are not authenticated at this stage. I agree that we need to fix that somehow.

I think what is missing too is a way to give access to authenticated people with a given authentication policy: ``system.Authenticated:accounts``

Why? Because if you allow both accounts and basicauth with some collections with ``system.Authenticated`` you will allow anyone to use this sys

[2019-02-19 09:57] Natim commented on #2026
Maybe we can give it a try, if someone feels like trying it.

[2019-02-22 16:58] magopian commented on #350
Since i updated from 11.x to 12.x, it seems I can't even write with the account that created the collection (to add a `read` permission explicitely for example, as a temporary workaround)

[2019-02-22 17:35] magopian opened #2058 "PATCHing an account will change its password"
If the `password` isn't provided in a `PATCH` to the accounts endpoint, the password will be automatically changed (to what?). Proof:

[code]

Now let's do a patch:

[code]

Notice that we did not provide a `password` in the data, but still the final hash is not the same as the one we had before. It's now impossible to use this account, unless `PATCH`ing it again with an admin account, and this ti

[2019-03-01 13:28] leplatrem opened #2063 "Crash in authorization 'NoneType' object has no attribute 'startswith'"
When reaching `/v1/__user_data__`

[code]

[2019-03-05 10:22] #1900 closed

[2019-03-16 18:57] palutlaanirudh commented on #2038
I would like to contribute to this issue. Can you guide me on how I may help?

[2019-03-17 15:40] glasserc commented on #2038
Hi @palutlaanirudh, the problem is that the docs make several references to kinto-redis, which is a plugin. This leads to a situation where the generated docs include the Redis backends as though they were first-class, built-in components instead of an optional plugin. See https://kinto.readthedocs.io/en/latest/core/cache.html for an example of what I mean. This also leads to the unfortunate situa

[2019-03-20 18:07] #1973 closed

[2019-03-23 21:06] yatinmaan commented on #2038
@palutlaanirudh Hey, are you still working on this ?

[2019-04-08 13:30] glasserc opened #2107 "memcached cache backend does not really test memcached"
@autrilla reported that when he moved Kinto to GCP, the heartbeat reported success for all backends, including cache, even though there is no `memcached`. I think the problem is here:

https://github.com/Kinto/kinto/blob/61494caae2bb8fe342f32f6a5d89f40ed2b62dff/kinto/core/cache/__init__.py#L87-L91

The heartbeat for the cache backend just sends two messages which don't expect responses. For someth

[2019-04-09 09:08] #2107 closed

[2019-04-14 18:53] chaitanya9186 opened #2114 "Instructions to deploy in leading cloud providers GCP, AWS and Azure"
Please provide instructions to deploy Kinto in different cloud providers. Thanks

[2019-04-15 20:00] glasserc commented on #2114
I don't consider this part of the project documentation requirements. Even well-known and mature projects such as PostgreSQL and CouchDB do not provide deployment instructions for any third-party platform vendor.

[2019-04-15 20:00] #2114 closed

[2019-04-18 13:44] leplatrem commented on #2114
The problem with that kind of documentation is that it gets obsolete quickly...

In case you're interested to start some documentation for this, I believe you could use the wiki.

[2019-04-23 13:34] glasserc opened #2129 "ConfigTest is a little bit intermittent"
In https://github.com/Kinto/kinto/pull/2125, ConfigTest failed because the timestamp it generated in the test was different from the timestamp generated in the `kinto.config.init` function. (I restarted the test and merged it when it passed.) This is possible when the test runs just before the end of a second, causing the two calls to `strftime` to refer to two different seconds.

[2019-04-23 14:46] leplatrem commented on #2129
Instead of this strict comparison:

https://github.com/Kinto/kinto/blob/24f5d838f606a4f68d8940eb061a4d85fc97c5d7/tests/test_config.py#L88

We could use this pattern:

https://github.com/mozilla/normandy/blob/b075d14d906f3d18aedc4faaa17a64564fe007f1/normandy/base/tests/__init__.py#L29-L40

[2019-05-06 20:10] #2038 closed

[2019-05-24 13:20] glasserc opened #2157 "Docker kinto/kinto-server image is out of date"
The last release on https://hub.docker.com/r/kinto/kinto-server/tags is 13.0.1, even though we have 13.1.0 and 13.1.1. Are we supposed to be building this image ourselves?

[2019-05-24 13:47] Natim commented on #2157
It is because of this: https://success.docker.com/article/i-have-issues-triggering-autobuilds

[2019-05-24 13:56] Natim commented on #2157
I reconfigured the automatic building.

[2019-05-24 13:56] #2157 closed

[2019-05-24 14:02] leplatrem commented on #2157
Should we document that somewhere? Are we all admins on Docker?

[2019-05-24 14:08] Natim commented on #2157
At least you are, I don't know what is @glasserc hub.docker.com id, I invited him with his gmail address.

[2019-05-27 15:16] adebisi-fa opened #2158 "Production deployment of kinto-server with Docker"
Hello,

A sincere appreciation to the entire kinto team for this wonderful and brilliant solution! **Kinto** truly rocks!!!

It was mentioned in the documentation that **uwsgi** is the preferred way to run kinto in production, as it could be deployed behind a proxy server (e.g. nginx).

[Kinto Local Server](https://kinto.readthedocs.io/en/latest/commandline.html#local-server), ```kinto start ...``

[2019-05-27 15:20] Natim commented on #2158
I use a custom Dockerfile with that installs uwsgi and run:

```/usr/local/bin/uwsgi --ini kinto.ini```

[2019-05-27 15:26] adebisi-fa commented on #2158
Ooh, awesome!!

Please, is there a **technical** reason why the official docker image isn't using ```/usr/local/bin/uwsgi --ini kinto.ini``` (after installing ```uwsgi```) in place of ```kinto start --ini kinto.ini```?

Thanks, please.

[2019-05-27 16:53] Natim commented on #2158
That's a good point, I guess we can change that.

[2019-05-27 20:35] Natim commented on #2158
I had a closer look at the Dockerfile, and it seems to be designed for a quick launch (with the memory backend and all) and not for a production use.

I would be glad to know what others think about it.

I guess I would recommand you to build your own Dockerfile based on this one: https://github.com/mozilla-services/kinto-dist/blob/master/Dockerfile

[2019-05-28 09:06] leplatrem commented on #2158
I think it would make sense that the official container could be used in production.

Is uwsgi really slower to start?

[2019-05-28 09:08] Natim commented on #2158
No uwsgi is not slower, what I meant was more that the image does all the setup and things at once (create the ini file, etc.) I meant quick launch like no config.

[2019-06-03 08:31] Natim commented on #810
We @Chefclub are interested in this idea.

- [ ] Add a GraphQL endpoint: ``
- [ ] Add [GraphIQL](https://github.com/graphql-python/graphene-django/blob/master/graphene_django/templates/graphene/graphiql.html) to handle text/html requests
- [ ] Handle JSONSchema to GraphQL schema translation or support GraphQL collection definitions
- [ ] Handle GraphQL GET queries
- [ ] Handle GraphQL POST queries

[2019-06-03 16:00] Natim opened #2161 "Kinto schema ValidationError raises a 500 rather than a 400"
[code]

[2019-06-03 16:16] Natim commented on #2161
It looks like this has been fixed with https://github.com/Kinto/kinto/issues/1508

[2019-06-03 16:16] #2161 closed

[2019-06-09 21:38] scwicker opened #2169 "Question: Docstring Format"
For a school project I am looking for potential improvements to help contribute to open source projects. This is one I think would benefit the code style and usability of this project.
In some of the Python files, such as: kinto/kinto/schema_validation.py, there are functions with
docstrings that could be formatted better to include parameters.  For example, in the following code:

---------------

[2019-06-21 13:35] adebisi-fa opened #2184 "kinto-storage.org has been offline for a while now"
Hello,

It appears the official website for **kinto**, [kinto-storage.org ](https://kinto-storage.org), has been offline for a while now.

Is there a maintenance work going on? or Is it going to be replaced with something different or new?

The portal's being offline has made it not that easy to advocate **kinto**, (without coming to github).

Any word on this, please?

Thanks for the good work on

[2019-06-21 13:40] Natim commented on #2184
It is one of @mostlygeek task, the domain is now supposedly handled by Mozilla and we only him can configure the DNS...

[2019-06-24 16:56] mostlygeek commented on #2184
I got https://slack.kinto-storage.org/ back online.  Where is the source for the website?  We can host that somewhere too.

[2019-06-24 17:00] glasserc commented on #2184
@mostlygeek I found it: https://github.com/Kinto/kinto-website. Also be aware that although HTTPS works, http://slack.kinto-storage.org/ does not work.

[2019-06-26 15:25] leplatrem opened #2191 "Notifications CSS is not loaded"
![Screenshot from 2019-06-26 17-25-14](https://user-images.githubusercontent.com/546692/60193115-63699d80-9837-11e9-97da-a66323d099cc.png)

I suspect a CSP issue, since they are well displayed on https://kinto.github.io/kinto-admin/

[2019-06-26 17:56] #2191 closed

[2019-07-01 18:02] glasserc commented on #2184
Refs https://github.com/Kinto/kinto-website/issues/20.

[2019-07-04 02:56] tamarbuta commented on #2129
I would like to try to fix this issue.

[2019-07-11 14:50] #2129 closed

[2019-07-19 15:03] Natim commented on #2184
Seems to be back: https://www.kinto-storage.org/

[2019-07-19 15:03] #2184 closed

[2019-07-19 15:05] Natim commented on #2184
@mostlygeek do you have the CNAME I should use for slack.kinto-storage.org ?

[2019-07-19 19:29] mostlygeek commented on #2184
Is slack.kinto-storage.org something you can host as well?

[2019-07-20 07:51] Natim commented on #2184
Yes I can try to host it, in the meantime I will try to use the CNAME you've provided, thanks.

[2019-07-20 07:53] Natim commented on #2184
It works: https://slack.kinto-storage.org/

[2019-07-21 14:42] Natim commented on #2184
Do you have a link to the source code that need to be hosted?

[2019-07-22 17:17] glasserc commented on #2184
Alexis said it was https://github.com/outsideris/slack-invite-automation.

[2019-07-22 17:27] Natim commented on #2184
Great thanks

[2019-07-24 12:58] webwurst opened #2210 "Link repo description does not work"
This one does now work for me: http://docs.kinto-storage.org/
Maybe someone can replace that with: https://kinto.readthedocs.io/en/latest/ ?

[2019-07-24 13:33] glasserc commented on #2210
Thanks for the report! I updated the link as you suggested.

[2019-07-24 13:33] #2210 closed

[2019-07-24 13:41] Natim commented on #2210
Oh I just reactivated the docs.kinto-storage.org domain name

[2019-07-24 14:27] glasserc commented on #2210
OK, I put the link back.

[2019-07-25 20:40] glasserc opened #2213 "Straighten out commit_veto situation"
In https://github.com/Kinto/kinto-signer/issues/591, we discovered that failing requests do not necessarily abort the transaction. (Exceptions do, but non-exceptional responses with e.g. 503 status codes don't.) There seems to be some confusion about this throughout the codebase; for example see https://github.com/Kinto/kinto-signer/blob/master/kinto_signer/listeners.py#L23-L24. At some point it m

[2019-07-29 10:08] #2213 closed

[2019-08-08 09:58] leplatrem opened #2222 "Provide a Datadog implementation for StatsD ?"
Back at this https://github.com/mozilla-services/cliquet/issues/643

I want to take advantage of Datadog tags in https://github.com/Kinto/kinto-signer/pull/611
Should we ship a Datadog implementation of our statsd interface? Should it be built-in Kinto or packaged elsewhere?

[2019-08-08 10:17] Natim commented on #2222
Yes I guess we could do that or try to import statsd from datadog statsd?

[code]

[2019-08-12 15:45] leplatrem commented on #2222
Hmm, after conversations with the OPs team, this won't be the way to go (spoiler: Grafana)

[2019-08-12 15:45] #2222 closed

[2019-08-13 08:11] leplatrem commented on #1908
This was fixed in https://github.com/Kinto/kinto/pull/1787

[2019-08-13 08:11] #1908 closed

[2019-08-13 09:26] #2063 closed

[2019-08-13 09:28] leplatrem commented on #1692
@dstaley Do you have suggestion for this?

[2019-08-13 09:32] Natim commented on #1692
Do you need `SCRIPT_NAME` for anything or is it a sufficient fix to change it into an empty string?

[2019-08-13 09:47] #2058 closed

[2019-08-14 07:59] #1755 closed

[2019-08-14 19:24] dstaley commented on #1692
The reproduction that manually specifies the WSGI variables was just to demonstrate the error. In a proper WSGI environment, `SCRIPT_NAME` is set by the web server. I imagine this would be an issue for any WSGI host that has Kinto at a non-root level.

[2019-08-15 20:16] Natim opened #2235 "DROP FUNCTION collection_timestamp(uid VARCHAR, resource VARCHAR) doesn't exists"
kinto.core.storage.exceptions.BackendError: ProgrammingError: (psycopg2.errors.UndefinedFunction) function collection_timestamp(character varying, character varying) does not exist

When running the migrations between kinto 12 to kinto 13, this error message can happen. We should ignore the deletion if the function does not exists.

[2019-08-19 14:34] rrjanbiah opened #2237 "Question: Kinto Vs Elasticsearch Vs Hasura"
Here https://github.com/mozilla-services/buildhub/issues/128 I find some reasons for using Elasticsearch within Kinto. Also, found comparison http://docs.kinto-storage.org/en/stable/faq.html

If I'm right, Kinto is using PostgreSQL. In that sense, how it is comparable with Hasura? Similarly, what is the benefit of Kinto over Elastisearch? (Apologies if these are addressed somewhere. TIA)

[2019-08-19 14:49] Natim commented on #2237
You can use [Kinto with Elasticsearch](https://github.com/Kinto/kinto-elasticsearch) if you need fulltext search capabilities. We also have a [kinto-algolia](https://github.com/Kinto/kinto-algolia/) plugin if you want to use algolia as a fulltext engine.

I guess Hasura and more generaly GraphQL have both the same issues Kinto was built to fix: [Fined grained permissions on records](https://docs.k

[2019-08-19 14:52] rrjanbiah commented on #2237
@Natim Thank you so much for your quick reply

[2019-08-20 14:41] chaitanya9186 opened #2241 "Failed to create 'account:admin' user with password when kinto.account_validation = true"
Hi Kinto Team

Following is my part of kinto configuration file:
[code]

I have tried following ways:

1. Using POST
[code]

2. kinto commanline

[code]
The message says it was created admin but it didn't.

Could someone help me out.

Thanks in advance

[2019-08-20 14:43] Natim commented on #2241
account_validation means your username must be an email address so that we can send the validation email to it.

[2019-08-20 17:30] chaitanya9186 commented on #2241
[code]

[2019-08-20 17:32] chaitanya9186 commented on #2241
Yes, I understand that part, but when I am deploying it in production, how can I create an admin account. I believe it is the master account, isn't it?

Tried see above.

[2019-08-20 18:02] chaitanya9186 commented on #2241
I was able to create the `account:admin` user when I connect to postgres.
Steps:
1. Modified my config file with postgres ([as mentioned here](https://docs.kinto-storage.org/en/latest/configuration/production.html?highlight=install#postgresql-client)).
2. `kinto migrate --ini production.ini` --> It created list of tables.
3. `kinto start --ini production.ini`
4. `kinto create-user --ini `pwd`/kint

[2019-08-20 18:05] chaitanya9186 opened #2242 "How to restrict `admin` user to localhost?"
Hi Kinto Team,

I am new to Kinto, I love the simplicity and the features. Is there anyway I can restrict the `account:admin` to localhost.

I may be asking the wrong question. But my intention is I want to restrict the admin access to limited, so that it will be secure (to some extent).

Thanks in advance.

[2019-08-20 18:56] Natim commented on #2241
No you are right the memory backend doesn't support user creation because once the command exit, there is no longer a memory backend.

[2019-08-20 18:56] #2241 closed

[2019-08-21 06:24] Natim commented on #2242
We don't have such feature so far. I would recommand you do comment the admin user in production and uncomment it only when you need it.

Alternatively you can also use a 2FA authentication method through an openid provider and use this user as an admin for a more robust login method.

[2019-08-22 17:51] #1018 closed

[2019-09-12 16:48] BillMeyerRSA opened #2258 "Admin / Account initial mess"
Got Kinto up.
Followed instructions... running...
Wanted to access /accounts
Documentation is vague, cannot find how to admin users...
Then it started hanging
Stopped the docker, started again
And then Admin don't authenticate
tried anonymous - OK - but then cannot logout or get to log in to Admin again.
Come on!!!

[2019-09-12 17:33] #2258 closed, assigned to nobody

[2019-09-13 08:13] Natim commented on #2258
Hello @BillMeyerRSA,

I am really sorry to hear that you are having troubles with the account feature.

Things to keep in mind:
 - Accounts don't work with the memory backend.
 - You can use a create user command to create the user account:

[code]

  - You can configure an admin in the kinto.ini file: http://docs.kinto-storage.org/en/stable/configuration/settings.html#bypass-permissions-with-conf

[2019-09-13 09:48] leplatrem commented on #2258
We should probably show a huge warning when using accounts with the memory backend, that accounts are flushed when restarted

[2019-09-26 15:27] leplatrem opened #2270 "Add `isort` to CI and formatting"

[2019-09-26 20:37] leplatrem commented on #2270
See https://github.com/mozilla-services/poucave/pull/98

[2019-09-29 11:11] hmajid2301 commented on #2270
I can take a look at this.

[2019-09-29 11:26] webwurst commented on #2237
I haven't really looked at Hasura yet. So don't no if this is feasible at all, but maybe there could be also a Kingo plugin for Hasura. Or just a proposal for discussion as a starter. To have the authentication and permission system of Kinto with a GraphQL query system. Modern frontend frameworks, for example based on [Gatsby](https://www.gatsbyjs.org/tutorial/part-four/), will easily benefit from

[2019-09-30 07:10] Natim commented on #2237
Having a GraphQL endpoint for Kinto seems like a good idea. Feel free to start a proposal of how you see this work.

[2019-10-10 11:33] webwurst commented on #810
Just linking to another [issue around GraphQL](https://github.com/Kinto/kinto/issues/2237#issuecomment-536287172). With the loose idea to use [Hasura](https://hasura.io/) for the heavy lifting.

[2019-10-17 01:04] evberrypi opened #2295 "Kinto demo server is down"
The link in the docs: https://kinto.dev.mozaws.net/v1/ is no longer working, brings up a blank screen and has been this way since at least 10/10/19.

[2019-10-17 06:03] Natim commented on #2295
Hello @evberrypi sorry about that, I cannot fix it since I don't work at mozilla anymore. However I encourage you to deploy your own demo server using this button:

[![Deploy](https://camo.githubusercontent.com/c0824806f5221ebb7d25e559568582dd39dd1170/68747470733a2f2f7777772e6865726f6b7563646e2e636f6d2f6465706c6f792f627574746f6e2e706e67)](https://www.heroku.com/deploy?template=https://github.com/K

[2019-10-17 06:06] Natim commented on #2295
It looks like this: https://kinto-dev.herokuapp.com/v1/

[2019-10-17 14:12] glasserc commented on #2295
Somebody else mentioned this to me today and it seems like the server is totally down (can't ssh in or anything). I asked ops but they didn't seem to know anything about it. I'm not sure what to do about it..

[2019-10-17 19:26] leplatrem commented on #2295
The domain should be associated to some AWS instance, there must be a way to find out :) It's possible that it was deleted though. @Natim do you remember how you set it up?

[2019-10-18 08:24] Natim commented on #2295
Yes exactly, I remember I configured the mandatory variable to make sure the ripper doesn't remove it but someone probably did manually.

[2019-10-18 11:00] #2270 closed

[2019-10-21 15:28] mozcloudsec opened #2303 "Add Content Security Policy header to responses"
Site https://webextensions.settings.services.mozilla.com has failed the web security baseline scan.

The failing tests are:

 Content Security Policy (CSP) Header Not Set [10038] x 1
 * https://webextensions.settings.services.mozilla.com/ (307 Temporary Redirect)

This issue was automatically raised.

This issue is managed automatically by the baseline scan:

 * If the failing tests change then it

[2019-10-21 16:58] leplatrem commented on #2295
Alright, ckolos restored the instance. But it'll be better to update our docs and run it somewhere that we control (Heroku for instance).

I realize it's mentioned in many places https://github.com/search?q=kinto.dev.mozaws.net&type=Code
We can ask if we can may be able to keep the domain,

[2019-10-22 15:54] leplatrem commented on #2303
@psiinon is this really necessary on an API?

We set CSP in a `<meta>` tag for the admin UI:

https://github.com/Kinto/kinto/blob/2247cb781396c1a5f936681951e8e71e9fd244e4/kinto/plugins/admin/public/index.html#L6-L7

[2019-10-22 16:09] leplatrem commented on #2303
Thanks!

Then, we'll have to do the whole #1075

[2019-10-22 16:34] leplatrem commented on #2303
[MDN says](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/report-uri) that `report-uri` is deprecated, so we'll do header first :)

[2019-10-23 11:08] #2303 closed

[2019-10-24 02:26] mozcloudsec commented on #2303
The web security baseline for site https://webextensions.settings.services.mozilla.com is still failing, this issue should stay open.

[2019-10-24 02:26] mozcloudsec commented on #2303
Unable to change this issue state to "open" due to lack of permissions - please do this manually

[2019-10-24 16:08] psiinon commented on #2303
@leplatrem I'm afraid I've only implemented github integration at this stage.
I can change @mozcloudsec to raise bugs for kinto on one of our private repos if you like but it will be a manual process to then manage the associated bugzilla bug.

[2019-10-24 16:21] Natim commented on #2303
Then I guess using mozilla-services/kinto-dist would be a good place for this.

[2019-10-24 16:25] psiinon commented on #2303
So we can use that for all of:

* firefox.settings.services.mozilla.com
* kinto.stage.mozaws.net
* webextensions.settings.services.mozilla.com

?

[2019-10-24 16:32] Natim commented on #2303
Yes this is correct.

[2019-10-24 16:51] psiinon commented on #2303
Configs changed :)

[2019-10-24 19:38] leplatrem commented on #2303
And even https://testpilot.settings.services.mozilla.com

[2019-10-25 11:54] leplatrem opened #2312 "Crash with querystring `?wb48617274=803E5708`"
`Invalid Inf value when encoding double`

[code]

[2019-10-26 01:54] dstaley commented on #2312
This is because querystring values are parsed with `kinto.core.utils.native_value`, which passes the string value into `json.loads` and takes the return value. JSON supports specifying numbers using `E` to denote an exponent, so the querystring value is being interpreted as `803^5708`, which JSON parsers just convert to `Infinity`.

[code]

What's interesting is if you pass that value back, you ge

[2019-10-28 15:20] psiinon commented on #2303
This has now been raised as https://github.com/mozilla-services/kinto-dist/issues/1063 so this issue can be closed.
Let me know if any other changes are needed.

[2019-10-29 11:21] Natim opened #2319 "How to handle multiple domain names"
I am using kinto with k8s and I'd like services to talk internally through kinto.service rather than the external domain name. However currently kinto redirects to the public domain when accessed through the internal one.

Do you know how I can tell kinto to support both?

[2019-10-29 13:07] Natim commented on #2319
A nice thing would be to have an ```ALLOWED_HOSTS``` variable a bit like [the Django one](https://docs.djangoproject.com/fr/2.2/ref/settings/#allowed-hosts) and we would pick the one used for the request to generate redirects.

[2019-10-29 15:48] leplatrem opened #2320 "CSP issue in Kinto Admin"
`default-src` seems to cause issues with CSS, JS, favicon and inline...

See #2303 (or previous one #2000)

[2019-10-29 15:48] leplatrem commented on #2320
<img width="1296" alt="image" src="https://user-images.githubusercontent.com/546692/67784379-f6c41100-fa6b-11e9-83ec-920f6a4fd156.png">

[2019-10-30 10:02] kaloneh opened #2321 "PIP requires an update when docker-compose is building images"
Since the `docker-compose` is building images two issues come up one with `docker` and the other along with data persistency. Former can be resolved with some manipulation in `Dockerfile` and docker-compose, however, the latter _tightly depends on saving data on volume_ in which database is gonna be responsible for hold data on disk. Anytime `docker-compose` downing the process, all data will be l

[2019-10-30 12:02] kaloneh opened #2322 "kinto-admin package's not properly installed in docker image"
Following errors are reported during composing images by `docker-compose`
[code]
It seems this issue connects to `package.json` in `kinto-admin` package and usage of the package in the application!

[2019-10-31 08:55] leplatrem commented on #2322
You are right, there are issues, we have 3 PRs that fail with the same kind of error.

Is it related to #2279 ?

[2019-10-31 14:00] #2320 closed

[2019-11-01 06:02] kaloneh commented on #2322
There are _two different packages_ including `react-redux` and `redux`.  Former depends on latter while the latter has been declared in `package.json` and the application looking for a proper instance of the `react-redux` that's been missed. You can explore `node_module` and find out why this error comes up!
I think it should have been saved as dev dependency by `npm install --save-dev react-redux

[2019-11-04 14:08] #2322 closed

[2019-11-06 08:10] #2321 closed

[2019-11-06 08:10] Natim commented on #2321
Fixed with #2324

[2019-11-06 16:19] Natim opened #2334 "Add a way for SPA to request Kinto to authorize request via httpOnly cookies"
The OpenID flow redirects to a page with the auth_token.

As @magopian pointed out, it is a best practice to not store the token on the client side.

The [experts told us](https://auth0.com/docs/security/store-tokens) instead to store it inside a httpOnly cookie that can be read only from the server side.

This means two things from a kinto perspective:
- OpenID should redirect to kinto and kinto

[2019-11-06 16:19] Natim commented on #2334
Other interesting ressources: https://medium.com/@jcbaey/authentication-in-spa-reactjs-and-vuejs-the-right-way-e4a9ac5cd9a3

[2019-11-06 16:22] kaloneh opened #2335 "Venusian version in requirements.txt needs modifying."
It seems _TravisCI_ is detecting an anomaly and conflict during verification amongst test cases. [venusian](https://github.com/Pylons/venusian/pull/63#issuecomment-549991842) reports that the correct version of 2.0.0 is 3.0.0 and 1.2.0 is mutated to 2.1.0 so that in requirements.txt should have been modified at line 40.

[2019-11-06 16:35] Natim commented on #2335
Rebasing from master should fix this issue. Refs https://github.com/Kinto/kinto/pull/2332

[2019-11-06 16:35] #2335 closed

[2019-11-12 11:28] leplatrem opened #2341 "CSP prevent attachment preview for images in Admin UI"
`Content Security Policy: The page’s settings blocked the loading of a resource at https://firefox-settings-attachments-cdn.stage.mozaws.net/ma…e/product-integrity/1be52f5f-ce54-4471-85b4-44a7800fdfcd.png (“img-src”).`

[2019-11-13 11:38] leplatrem opened #2343 "Resource timestamp should be current instead of highest timestamp"
Basically, imagine that at t=100 I created a record in an empty collection forcing its timestamp to 50.
The collection timestamp will be 50.

We propose that the collection timestamp should be 100 instead.

[2019-11-13 14:15] Natim commented on #2343
This feature is there so that we can duplicate a collection from a bucket to another.

[2019-11-13 14:44] leplatrem commented on #2343
Yes, it's fine, when we duplicate records we may want to keep their original timestamp, but I think the resource timestamp should reflect the fact that something happened on that resource.

I would suggest the following:
- the resource timestamp should never go back
- the resource timestamp should always be bumped when an object is created/updated
- an object create/update with a timestamp specifi

[2019-11-13 17:15] kaloneh opened #2344 "How to check prerequisites before installing kinto?"
Depends on the platform, *kinto* needs to be satisfied by prerequisites such as *python* in the first place with the major version 3 and the minor version greater than or equals to 6 as well as some specific libraries like *libffi* and so on, existing scripts in which check prerequisites could be very helpful. For instance, `kinto.cmd` runs in _MS-Windows_ command prompt and `kinto.sh` can be exec

[2019-11-14 00:42] glasserc commented on #2343
Isn't that inconsistent with "I think the resource timestamp should reflect the fact that something happened on that resource." ?

I think the test verifies that in fact the behavior is as you described -- the newly created object has a timestamp in the past, but the resource timestamp remains the same.

Unfortunately I think the comment raises a good point (discussed in https://github.com/Kinto/k

[2019-11-14 09:02] Natim commented on #2343
I don't think this is related to the kinto-signer bug, you can always remove the last_modified value of your record when synchronizing if you don't wish to keep the same timestamp.

[2019-11-14 09:05] Natim commented on #2343
This is only possible in one case : when you create objects from a previous collection, most of the time it isn't possible.

This is possible only if the resource_timestamp is lower than the current last_modified value. If you change this behaviour it won't be possible anymore.

[2019-11-14 09:06] Natim commented on #2343
This is already the case today.

[2019-11-14 11:45] leplatrem commented on #2343
I don't think so. If I supply an old timestamp in my record, it's ignored and replaced by a new one.

I don't think it is. The resource timestamp and object timestamp are strongly correlated. As Ethan said, we use the later for `_since`. Plus, it's possible to create objects in the past without having the resource timestamp be bumped, so it doesn't represent every operation.

I don't see that, and

[2019-11-14 13:33] Natim commented on #2343
How do you handle the case where you need to create 20 items in the past of today if the first one uses current_timestamp as the current timestamp?

[2019-11-14 13:59] leplatrem commented on #2343
:sweat: Good point :rofl:

[2019-11-14 14:28] #2343 closed

[2019-11-14 14:28] leplatrem commented on #2343
It seems that the only solution that my brain can process consists in changing kinto-signer

[2019-12-22 11:49] slav0nic opened #2375 "`kinto init` generate wrong config"
`kinto init` generate use wrong  plugin for redis cache backend and with current implementation mixing pg-db/redis-cache not work correct:
1.
[code]
`kinto.core.cache.redis` but should be `kinto_redis.cache`

2.
[code]
`--cache-backend ` argument ignored if `redis` is backend
https://github.com/Kinto/kinto/blob/9acb793a84f9ca72625b2c6cb24bbaccad7c4975/kinto/config/__init__.py#L62-L66

[2019-12-23 08:14] leplatrem commented on #2375
Thanks for reporting!

This shouldn't be too hard to fix in case you're interested to submit a fix :)

[2019-12-27 11:48] #2375 closed

[2019-12-31 06:07] gaurav517 opened #2382 "Disable authentication for all requests"
How do we disable authentication for all endpoints? Thanks.

[2020-01-03 13:38] Natim commented on #2382
I don't think you can, but you can create an administrative account and then add the system.Everyone permission to give permission to all users.

[2020-01-03 13:40] #2382 closed

[2020-01-13 14:49] Natim commented on #2312
@dstaley would you be willing to file a PR with this fix and test?

[2020-01-13 16:18] slav0nic opened #2391 "Kinto migrations for plugins"
Will be fine have some API for run migrations for plugins. Now migrations supported only by storages.

[2020-01-13 17:08] leplatrem commented on #2391
If you have some ideas about how it should look like, please share them!

[2020-01-14 03:20] dstaley commented on #2312
@Natim here you go! https://github.com/Kinto/kinto/pull/2392

[2020-01-14 11:27] Natim commented on #2312
Thanks !!!

[2020-01-14 13:28] #2312 closed

[2020-01-14 17:43] Natim opened #2393 "Implement atomic sync with Kinto"
https://www.dotconferences.com/2019/12/james-long-crdts-for-mortals

We could create a plugin that, like kinto-history, would allow to manage conflicts at the field level

[2020-01-18 13:44] firegolem commented on #881
Is this still relavant? If yes, i'd like to try and pick it up?

[2020-01-19 03:22] chaitanya9186 opened #2395 "Could someone suggest a way to do password less authentication using SMS or Email?"

[2020-01-19 03:23] chaitanya9186 opened #2396 "How to allow requests with JWT issued by a custom server?"

[2020-01-19 13:17] Natim commented on #2396
Your best take at it is to create a custom authentication backend.
You have lots of example:

 - [kinto.plugins.openid](https://github.com/Kinto/kinto/tree/master/kinto/plugins/openid)
 - [kinto-facebook](https://github.com/Kinto/kinto-facebook)
 - [kinto-nexmo-verify](https://github.com/Kinto/kinto-nexmo-verify/)
 - [kinto-portier](https://github.com/Kinto/kinto-portier)

I encourage you to copy

[2020-01-19 13:19] Natim commented on #2395
You even have a plugn for it :joy:
https://github.com/Kinto/kinto-nexmo-verify/

[2020-01-19 13:19] #2395 closed

[2020-01-19 13:21] Natim commented on #881
Yes

[2020-01-20 02:46] chaitanya9186 commented on #2395
Thanks @Natim for the plugin.

But I don't see any code in the master branch. Is any one using this plugin?

[2020-01-20 11:09] Natim commented on #2395
You are right, the code is missing.
I am adding it there: https://github.com/Kinto/kinto-nexmo-verify/pull/66/files

[2020-02-24 11:19] dim opened #2435 "PostgreSQL storage: guard against `contains` queries on non `data` fields."
PostgreSQL doesn't support `@>` operator usage on non JSONB fields, e.g.:

[code]

Logs:

[code]

[2020-02-24 12:07] leplatrem commented on #2435
Nice catch! Thanks for reporting!

[2020-02-28 00:32] dstaley opened #2440 "RFC: Standardize on one chat platform"
Currently, the Kinto project uses both Slack and IRC as its live chat platforms. I propose that we migrate to one single platform, and use that as the primary provider for chat. Once selected, we should add a link to the selected platform to all the repos' README files in addition to making it appear prominently on the website.

## Some Stats

Just to set a baseline, here's some stats about our Sl

[2020-02-28 00:35] dstaley commented on #2440
Due to its large community presence, and the fact it checks off most of the selection criteria, my vote would be for Gitter. I'm particularly fond of the fact that it supports SSO with GitHub and has a decent mobile interface.

[2020-02-28 09:28] leplatrem commented on #2440
Awesome Dylan! Thanks for taking the time to address this issue...

I'd be happy to ditch Slack and IRC :)

Since I personally have very limited time to dedicate to synchronous chatting, I'd be in favor of anything that's well integrated within Github. So my vote would go to Spectrum or Gitter ;)

[2020-02-28 09:35] Natim commented on #2440
Same for me. :+1: for Gitter

[2020-03-02 17:08] glasserc commented on #2440
I like Gitter, but I think the reality of the situation is that nobody is on the chat platforms. Maybe we should bow to that and force everything to go through Github issues or something.

[2020-03-03 05:10] dstaley commented on #2440
Yeah, that's definitely a tough issue to solve without team buy-in, which is why I hope that standardizing on one platform will encourage us all to hang out there!

That being said, long term, I think the solution would be GitHub Discussions. I don't think that will roll out to us anytime soon though :(

I think we've come to a consensus on Gitter, so I'm going to start adding Gitter badges to REA

[2020-03-07 20:55] dstaley opened #2445 "Consider specifying more dependency versions in setup.cfg"
Earlier today, `ujson` updated to 2.0.0 which [broke building on Windows](https://github.com/ultrajson/ultrajson/issues/369). Since `ujson` is specified in setup.cfg [without a version identifier](https://github.com/Kinto/kinto/blob/master/setup.cfg#L43), it will always install the latest version. We should probably consider specifying versions so that we don't run into scenarios like this. I don'

[2020-03-07 22:57] hugovk commented on #2445
Generally, although I don't think the majority do it, it's nevertheless fairly common in Python for libraries to specify a max version for dependencies, to avoid surprises with major versions, eg. `some_package<5` if we know it currently works with version 4.

Specifically, we hope to have a fixed ujson 2.0.1 out tomorrow for this (and thanks again for the help on that!).

[2020-03-18 15:31] dim opened #2459 "Possible security flaw?"
Here's are the steps to recreate the issue, tested with `kinto/kinto-server:13.6.3` Docker container, with `KINTO_BUCKET_CREATE_PRINCIPALS=system.Authenticated`

Create two users, `alice` and `bob`

[code]

Let `alice` create a bucket:

[code]

Confirm that `bob` cannot access that bucket:

[code]

But, if `bob` tries to create a bucket with the same name, they *are* able to see it:

[code]

When

[2020-03-23 12:03] leplatrem commented on #2459
Very good catch! That's a serious bug indeed. Before returning the object, we should check the `read` permission!

[2020-03-27 16:12] dim opened #2472 "Postgres' bump_timestamp function should round timestamps to epoch precision"
Under heavy concurrent load, two records may end in Postgres with effectively the same epoch. Here's an example:

[code]

Here's my fix:

[code]

[2020-03-27 17:01] #2459 closed

[2020-03-29 10:45] leplatrem commented on #2472
Wao! That's really cool!

We had identified this issue #602 but never found a fix!

Do you want to submit a PR or do you want us to do it? (migration etc.)

[2020-03-30 08:22] dim commented on #2472
@leplatrem I can do a PR, but it wouldn't be a proper one, unfortunately. I can read Python but it's not my language of choice (sorry) and I would not be confident enough to include a regression test.

[2020-04-29 22:36] markogresak opened #2492 "USB device input not working after reboot"
When I install kinto, it's working correctly right away. But after rebooting the machine, all USB input freezes, even the USB mouse stops working. The only thing I was able to do is to use the hardware power button to reboot the machine and remove the configuration from the recovery boot.

When digging through the `/var/log/syslog`, I found this line, which might be of interest:
[code]

But I can'

[2020-04-29 23:09] glasserc commented on #2492
I think you must be thinking of another project called kinto, such as https://github.com/rbreaves/kinto.

[2020-04-30 06:22] markogresak commented on #2492
@glasserc yes, I’m sorry. It was late and I’ve clicked the wrong project 😅

[2020-04-30 06:23] #2492 closed

[2020-05-05 14:26] leplatrem opened #2495 "Crash with `/records?_since={}`"
https://sentry.prod.mozaws.net/operations/kinto-prod-1/issues/8328977/

[code]

[2020-05-07 08:02] rodfersou opened #2496 "Ubuntu uninstall leave keys without working"
To fix this I need to follow this tip:

https://askubuntu.com/a/315226

In my case needed to run:

[code]

Also reinstall the keyboard.

[2020-05-07 08:05] Natim commented on #2496
I guess you are not on the right Kinto project :confused:

[2020-05-07 08:05] #2496 closed

[2020-05-07 08:05] Natim commented on #2496
See https://github.com/rbreaves/kinto

[2020-05-07 08:17] rodfersou commented on #2496
sorry for the noise

[2020-05-14 09:45] leplatrem commented on #125
Archiving old issues.

[2020-05-14 09:45] #125 closed

[2020-05-14 09:51] leplatrem commented on #256
Let's be realistic. This won't happen

[2020-05-14 09:51] #256 closed

[2020-05-14 09:51] leplatrem commented on #422
Archiving old issues

[2020-05-14 09:51] #422 closed

[2020-05-14 09:51] leplatrem commented on #994
Archiving old issues

[2020-05-14 09:51] #994 closed

[2020-05-14 09:51] leplatrem commented on #817
Archiving old issuesArchiving old issues

[2020-05-14 09:51] #817 closed

[2020-05-14 09:52] leplatrem commented on #811
Archiving old issues

[2020-05-14 09:52] #811 closed

[2020-05-14 09:52] leplatrem commented on #754
Archiving old issues

[2020-05-14 09:52] #754 closed

[2020-05-14 09:52] leplatrem commented on #1517
Archiving old issues.

See also #2445 #1921

[2020-05-14 09:52] #1517 closed

[2020-05-14 09:53] leplatrem commented on #2169
There are tools to automate docstrings validation, we could consider adding them to the CI

[2020-05-14 09:54] leplatrem commented on #2440
We now use Gitter :)

Thanks Dylan for your efforts ;)

[2020-05-14 09:54] #2440 closed

[2020-05-14 09:56] leplatrem commented on #2237
See also #307 #330

[2020-05-14 10:01] #2242 closed

[2020-05-14 10:02] #1998 closed

[2020-05-14 15:14] cmdlinebeep commented on #1905
Just hoping to point out to others who search on this error message.
I was already using psycopg2-binary, and was still getting the issue.

For me, the issue was resolved by just changing my Postgres DB path from:
"postgres://<user:pass>@localhost:5432/<db_name>"
to:
"postgresql://<user:pass>@localhost:5432/<db_name>"

[2020-05-14 15:19] Natim commented on #1905
I am surprise @cmdlinebeep because this has been fixed more than a year ago in that commit: https://github.com/Kinto/kinto/commit/8809f6b67c8aeeec8adbe126a21fc02e6582d655

[2020-05-14 16:18] cmdlinebeep commented on #1905
Yeah, I'm not sure why.  I'm not making any claims other than my version of psycopg2-binary is well past that:  psycopg2-binary==2.8.5
If I make no other change than adding 'sql' to the end of 'postgres', the deprecation warning goes away.  Hope it helps someone else.

[2020-05-22 10:25] leplatrem opened #2505 "Update docs to warn about archived plugins"
:+1: totally agree. I archived projects without sending notices.

[2020-05-23 16:25] shivasheeshyadav commented on #2495
Hi @leplatrem
I would like to work on it.

[2020-05-25 19:22] slav0nic commented on #1821
Normal request profiling stack
![normal](https://i.imgur.com/sR9o8f0.png)

Slow with wrong password ![normal](https://i.imgur.com/fCMq3pI.png )

[2020-05-26 09:31] leplatrem commented on #1821
Thanks for the investigation!

We also have a sort a request cache in kinto (`request.bound_data`) that could solve this.

(Slightly related to #621)

[2020-06-04 10:05] leplatrem commented on #2495
Hi @shivasheeshyadav !
Did you manage to setup the dev environment?

[2020-06-07 07:06] varsharmsh commented on #2495
I would like to work on this issue.

[2020-06-07 15:21] shivasheeshyadav commented on #2495
Hi @leplatrem
Working on it.
@varsharmsh Could you please look into another issue.

[2020-06-08 04:05] varsharmsh commented on #2495
sure

[2020-06-08 18:26] shivasheeshyadav commented on #2495
Hi @leplatrem
I've setup the dev env.
Could you please provide me credentials to https://sentry.prod.mozaws.net/operations/kinto-prod-1/issues/8328977/ so that I could get to know more details about the issue.

[2020-06-09 09:16] leplatrem commented on #2495
You should be able to reproduce with the PostgreSQL storage backend, by reaching out any plural endpoint with this filter: `/v1/buckets?_since={}`

Here is the Sentry:
![Screenshot_2020-06-09 BackendError ProgrammingError (psycopg2 ProgrammingError) can't adapt type 'dict'  SQL SELECT id, as_](https://user-images.githubusercontent.com/546692/84129629-7e322380-aa42-11ea-87ee-562bf29a2b62.png)

[2020-06-09 14:52] slav0nic commented on #2495
Maybe it will be more correct working with SQL query as text()  rather than python string with formating?
https://docs.sqlalchemy.org/en/13/core/tutorial.html#using-textual-sql

[2020-06-26 08:18] #2472 closed

[2020-07-02 07:03] MarcCoet commented on #2440
I won't be the only one landing here and looking for the link so here it is: https://gitter.im/Kinto/kinto

Also, the docs should be updated over there: https://docs.kinto-storage.org/en/latest/community.html
(Just trying out Kinto so not ready to make a PR, sorry)

[2020-07-02 08:09] MarcCoet commented on #1179
Did anyone develop a custom widget for Kinto admin to handle this?

[2020-07-02 09:29] leplatrem commented on #1179
Not that I know :)

[2020-07-02 09:34] leplatrem commented on #2440
Thanks for the feedback! I opened #2544

[2020-07-02 09:48] shyim commented on #2341
Yes
https://shyimtest.herokuapp.com/v1/admin/#/

[2020-07-02 10:00] slav0nic commented on #2341
i think CSP functionality should be improved, for example, locally for sharing via  `static_view` i did some tricks like (that looks not user-friendly):

[code]
or at least some solutions should be documented

[2020-07-17 06:41] sihan-tawsik commented on #2495
Hello,
I want to work on this. Could anyone give me a heads up, please?

[2020-07-17 16:15] shivasheeshyadav commented on #2495
Hi @sihan-tawsik
This issue is already addressed in #2525 and now being reviewed.
You could take up any other open issues.

[2020-07-17 16:18] sihan-tawsik commented on #2495
Okay. Thank you @shivasheeshyadav

[2020-08-12 14:36] #2495 closed

[2020-08-18 09:54] leplatrem opened #2588 "Dev server returns 409 on POST"
## Steps to reproduce

[code]

See also #2295

[2020-08-18 10:16] leplatrem commented on #2588
It was caused by kinto-changes plugin. To fix the issue, I had to prevent `history` events to be created in `/buckets/monitor`

[code]

Something is causing the duplication of a record there, and I don't have a reasonable explanation for now. I opened https://github.com/Kinto/kinto-changes/issues/199

[2020-08-18 10:16] #2588 closed

[2020-08-18 10:19] #2505 closed

[2020-09-01 08:14] leplatrem opened #2595 "Cannot fetch records list with _since=null anymore"
Since https://github.com/Kinto/kinto/pull/2525 the server returns 400 when a plural endpoint is called with `_since=null`. This is not intended and breaks the Admin UI in certain situations.

[2020-09-04 06:07] #2595 closed

[2020-09-14 10:56] ankushduacodes commented on #881
@Natim, I would like to pick this up(if its still available), could you please explain what need to be done here, and why?

[2020-10-26 23:47] dstaley opened #2643 "Run tests in GitHub Actions"
I think it would be wise to have at least one set of CI validation coming from GitHub Actions, so that we have two sources of code quality, especially for times like now where open source builds on Travis are delayed for several hours.

I don't think we need to do the multiple Python version testing, but at least testing on the latest Python in GHA would be nice.

[2020-10-28 01:38] dstaley opened #2644 "Migrate from travis-ci.org to travis-ci.com"
Based on the info [here](https://travis-ci.community/t/builds-hang-in-queued-state/10250/6), we should probably go ahead and migrate the entire `kinto` GitHub org over to travis-ci.com. I think the only ones who are able to do that are the org admins. @leplatrem I think this would be you!

[2020-10-29 00:05] leplatrem commented on #2644
![Screenshot from 2020-10-29 01-03-21](https://user-images.githubusercontent.com/546692/97509457-a0412980-1982-11eb-9b7b-784d462694d5.png)

I don't really know where this happens..

[2020-10-29 00:07] dstaley commented on #2644
@leplatrem I believe you need to here and enroll in the beta:

https://travis-ci.com/organizations/Kinto/migrate

[2020-10-29 00:18] leplatrem commented on #2644
Thanks! After having approved a couple of disclaimer about beta stuff, I think it's done

[2020-10-29 00:20] dstaley commented on #2644
I'm seeing builds in the UI! Once the green checks start flowing again I'll close this issue.

[2020-10-29 05:07] feiming commented on #881
@Natim is this still available?

[2020-10-29 11:50] leplatrem opened #2646 "Kinto Admin plugin broken"
The Kinto Admin v1.27.1 works as a standalone build (`npm start`  or https://kinto.github.io/kinto-admin/)

But when built from the admin plugin here, the application crashes.

[code]

I'm struggling with the error trace, and can't really point out the guilty package :(

[code]

[2020-10-29 12:26] leplatrem commented on #2646
I could obtain something a bit more detailed:
[code]

[code]

[code]

[2020-10-30 23:03] #2644 closed

[2020-10-31 01:25] feiming commented on #881
https://github.com/Kinto/kinto/pull/2647

[2020-11-02 14:40] leplatrem commented on #2646
After investigating further with @Natim we realized it comes from the introduction of `bootstrap-icons`, and probably because the SVGs are not well exported/packaged and become `undefined`...

We use `react-scripts` here and don't seem to have many options about assets, no?

@dstaley Do you have an idea on what could cause this? T

Thanks!

See https://github.com/Kinto/kinto-admin/pull/1518/

[2020-11-02 18:46] dstaley commented on #2646
@leplatrem Yup, you're correct. `create-react-app` translates the following import:
[code]

into a React component that renders the imported SVG. This works fine when running `kinto-admin` directly from its repo since I configured Webpack to handle that situation. However, the issue looks to be that `create-react-app` only applies this transform to _local_ files, not files coming from npm. In the

[2020-11-03 10:46] leplatrem commented on #2646
@dstaley Unfortunately it doesn't seem like it's transpiled differently. And at least it still fails the same way :(

How do you install local packages in that context? I'm having issues about React versions when using `file:../../../kinto-admin` in `package.json`...

[2020-11-03 17:42] dstaley commented on #2646
@leplatrem it looks like 1.27.2 doesn't have the updated code. I think maybe you published without running `npm run build:lib`?

As for the different React versions, I ran into that too. I got around it by using `npm pack` and then running `npm i <path to tarball>`. Webpack gets confused if you try to use a symlink or a relative file path, but installing from a tarball seems to work.

[2020-11-03 17:49] leplatrem commented on #2646
![](https://media.giphy.com/media/jUwpNzg9IcyrK/source.gif)

:+1: thanks!

[2020-11-03 18:31] leplatrem commented on #2646
Works great @dstaley! Thanks for your assistance!

I'm sorry for the noise :sweat:

[2020-11-03 18:32] dstaley commented on #2646
Ha, no worries! I'm glad I could help :)

[2020-11-03 21:04] #2646 closed

[2020-11-04 18:21] dstaley commented on #2643
On Monday, Travis introduced a [new billing plan](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing) for OSS projects that's based on a credits system. Since then, we've consumed almost half of our monthly allotment in just under 72 hours. They do have a [process in place](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing#building-on-a-public-repositories-only) where we can req

[2020-11-05 08:37] dstaley commented on #2643
I reached out to Travis support and we now have an additional 70,000 credits (7000 minutes) to use. This should (hopefully) give us about a month or so of runway to reduce our usage.

[2020-11-13 20:26] revolunet commented on #2050
Is there a way to configure kinto so `system.Everyone` can only create records in some specific collection ?
Without read rights on the collection.

Useful for newsletter or contact forms

[2020-11-14 10:19] Natim commented on #2050
You can use the `create:record` permission on the collection for that.

[2020-11-14 13:03] revolunet commented on #2050
Looks like create:record implies read on the collection. Is it correct or did i miss something ?

[2020-11-14 13:57] Natim commented on #2050
No it doesn't implies read on the collection. However you can read the
record you created.

Le sam. 14 nov. 2020 à 14:03, Julien Bouquillon <notifications@github.com>
a écrit :

[2020-11-14 18:58] revolunet commented on #2050
Thanks for the confirmation, will try again !

[2020-11-14 20:27] magopian commented on #2050
Hi Julien,

As my colleagues already said

- there is no "create but can't read" permission: whatever one user
creates, they can read

- if there is no "read" permission on a collection, a user can ONLY read
what they have CREATED

So the trick is to have a different random user for each and every
newsletter subscription: each time somebody want's to subscribe to the
newsletter, generate a random

[2020-11-20 23:49] revolunet commented on #2050
if i set `"record:create": ["system.Everyone"]` on a collection permissions

then when i create a record as some random user (or anonymous), the records always ends up having `"write": ["system.Everyone"]` in the permissions 🤔 . If i specify the permission in the record payload, its also adds `system.Everyone` in the write list.

The record `read` permission are correctly scoped to the user, but n

[2020-11-21 17:52] Natim commented on #2050
At @magopian said :+1:

You shall use `system.Authenticated` and then generate a random password for each user using the [BasicAuthAuthenticationPolicy](https://github.com/Kinto/kinto/blob/master/kinto/core/authentication.py)

[2020-11-21 18:06] Natim commented on #2050
@leplatrem do you know if since [Kinto 14.1](https://github.com/Kinto/kinto/blob/master/CHANGELOG.rst#1410-2020-10-26) we could rely on `kinto.explicit_permissions = false` to allow to create records without inheriting the write permissions for `system.Everyone`?

[2020-11-22 23:55] revolunet commented on #2050
Ok, it worked, thanks !!

create-collection :
[code]

create-record with some user:pass in a basic auth Authorization header :
[code]

environment variables :
[code]

result :
[code]
Is there a trick to make the newly created record not alterable by the creator ?

[2020-11-23 05:50] magopian commented on #2050
Yay!

I don't think there's a way, the creator is the owner and has full control over the record.

Mathieu

Le 23 novembre 2020 00:56:08 GMT+01:00, Julien Bouquillon <notifications@github.com> a écrit :

--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2020-11-30 22:58] leplatrem commented on #1544
[code]
See [an example of how to add a config method](https://github.com/Kinto/kinto/blob/9ffd27856802ffbd251b8e5b548b5b6fa0e01812/kinto/core/__init__.py#L161-L171).

See [loading of default settings](https://github.com/Kinto/kinto/blob/9ffd27856802ffbd251b8e5b548b5b6fa0e01812/kinto/core/initialization.py#L484-L525)

[2020-12-08 21:12] dstaley commented on #2643
At least one user has been notified by Travis that the open source credit system is now on hold. [Source](https://twitter.com/james_hilliard/status/1336081776691843072). I'm going to try and get GHA to parity with Travis on all JavaScript repos by the end of this week.

[2020-12-10 07:19] AlexB1986 opened #2667 "Kinto returns HTTP 500 on request with big 'cache_expires'"
**Steps to reproduce**
_docker run -p 8888:8888 kinto/kinto-server_

First request
[code]

First response
[code]
Second request
[code]
Second response -- 500 Internal Server Error

[code]

[2020-12-10 07:23] Natim commented on #2667
Hello @AlexB1986 thanks you for your feedback.

Do you happen to have the server exception loge explaining the 500?

[2020-12-10 08:34] AlexB1986 commented on #2667
[code]

[2020-12-10 09:18] AlexB1986 opened #2668 "Kinto returns HTTP 500 on /__version__ endpoint"
**Steps to reproduce**
_docker run -p 8888:8888 kinto/kinto-server_
Running kinto 14.0.1.dev0.

Request
[code]

Response
[code]

Log

[code]

[2020-12-11 14:45] leplatrem commented on #2643
I cannot promise to work on this in the short term, but I will reduce the frequency of `dependabot` right now, it may help a little bit

[2020-12-11 14:58] leplatrem commented on #1544
In `core/__init__.py`, add a `kinto_setting` directive with something like that:

[code]

And then in [load_default_settings(config, default_settings)](https://github.com/Kinto/kinto/blob/9ffd27856802ffbd251b8e5b548b5b6fa0e01812/kinto/core/initialization.py#L484-L525), read these info from `config.registry.kinto_settings` to enhance/process the `config.settings` values that come from the `.ini` fi

[2020-12-11 15:10] leplatrem commented on #1544
Depending on the order of things at startup (whether `load_default_settings()` or `config.kinto_setting("mail.host")` is called first), it could be relevant to enhance the `config.settings` from the `kinto_setting()` directive.

[code]

[2020-12-14 13:28] AlexB1986 opened #2676 "Kinto returns HTTP 500 on get_recordsendpoint (unbalanced parenthesis)"
Request
[code]
Response
[code]

Log:
[code]

[2020-12-15 10:50] leplatrem commented on #2676
Nice catch!

[2020-12-20 22:43] jkieberking opened #2679 "ModuleNotFoundError: No module named 'psycopg2' error"
Hello! I'm getting a `ModuleNotFoundError: No module named 'psycopg2'` when I try to run `make serve` when trying to install/run kinto from source using this guide:
https://docs.kinto-storage.org/en/latest/community.html#get-started

this only occurs when I use the postgres backed (and in-memory cache)
when I use the in-memory backend I don't get this error

[code]

running on Ubuntu 18.04.5

[2020-12-21 00:42] jkieberking opened #2680 "AttributeError: 'ReentrantFileLock' object has no attribute '_lock'"
when running `make tests`  I get the error: `AttributeError: 'ReentrantFileLock' object has no attribute '_lock'` on the master branch

going through the steps in https://docs.kinto-storage.org/en/latest/community.html#get-started

[2020-12-21 12:21] AlexB1986 opened #2687 "HTTP 500 on get permissions (ValueError)"
**Steps to reproduce**
_docker run -p 8888:8888 kinto/kinto-server_
Running kinto 14.0.1.dev0.

Request
[code]
Response
[code]

Log:
[code]

[2020-12-21 14:03] AlexB1986 opened #2688 "HTTP 500 on patch_group (KeyError)"
**Steps to reproduce**
_docker run -p 8888:8888 kinto/kinto-server_
Running kinto 14.0.1.dev0.

First request
[code]

First response HTTP 201
[code]
Second request
[code]
Second response HTTP 201

[code]

Third request
[code]

Third response HTTP 500
[code]

Log
[code]

[2020-12-21 14:34] Natim commented on #2687
Hello @AlexB1986, thank you for your feedbacks, are you planning to send us pull-requests to issues that you are filling?  If yes, I would recommend to create pull-request in between new issues.

[2020-12-21 14:35] #1535 closed

[2020-12-29 10:41] rishitc commented on #2393
Hi,
Could you describe the feature you are suggesting to add with an example, perhaps?

Thanks

[2021-01-05 22:23] dstaley commented on #2643
Well, it finally happened: we ran out of OSS credits. I'm going to ask Travis and see if we can get a few more just to get us through the transition.

[2021-01-08 11:23] leplatrem commented on #2643
I think we can just ditch TravisCI, it's fine.

[2021-02-03 20:05] Rodwan-Bakkar commented on #2026
Is this ticket still available/needed?

[2021-02-17 10:02] leplatrem commented on #1649
This becomes an issue too for the history plugin. If deleted records via the plural endpoint are not tracked, then it's impossible to reconstruct a snapshot from the history log.

[2021-03-02 22:40] damilgra opened #2736 "Decoding record with > 64-bit integer fails"
If a record is added to Kinto that includes a number greater than 64 bits, one cannot view the record via the
 GET /buckets/(bucket_id)/collections/(collection_id)/records/(record_id)
endpoint.

For instance if the record contains {"weight": 211230200427052203004205123} , the numeric value is stripped, rendering the resultant JSON as invalid so that it can't be decoded.

From a quick test, I saw t

[2021-03-04 13:17] leplatrem commented on #2736
@damilgra I'd happy to replace ujson by simdjson, if you'd like to open a pull-request that would be cool :)

[2021-03-04 15:50] damilgra commented on #2736
Thanks @leplatrem . I can add a pull request but am not sure the best way to resolve the following sub-issue:
simdjson fails my added unit test when the memory storage is used.

For now, I've modified the memory storage to use native json to make it pass, but am not sure if that's desirable.

[2021-03-26 20:41] TkTech commented on #2736
Keep in mind that you should be storing integers > 64bits as strings. While JSON doesn't specify constraints on numbers, if you start storing larger numbers you aren't guaranteed that whatever you're using to read from kinto will be able to parse it. The vast majority of parsers are limited to 64 bits.

[2021-07-02 09:06] #2736 closed

[2021-08-23 13:14] azataiot opened #2842 ""raise MissingSectionHeaderError(fpname, lineno, line)" with docker-compose on mac"
---
[code]

[2021-08-23 13:15] azataiot commented on #2842
the corresponding compose file is :
[code]

and the config/kinto.ini file is
[code]

[2021-08-23 22:18] #2842 closed

[2021-08-25 14:23] vanillajonathan opened #2847 "Kinto roadmap"
I would like to see a roadmap to find out what is planned.

[2021-08-25 14:24] vanillajonathan opened #2848 "Kinto blog"
I would like to see a blog where the developers can write posts so the community can stay up to date.

[2021-08-31 07:56] ritvikagrawal1 commented on #881
i'd like to try and pick it up

[2021-09-21 08:38] SimonKlausLudwig opened #2866 "Kinto does not start when auth policy is not available"
I create a docker-compose file with Keycloak aus the Identity Provider and Keycloak. As Keycloak takes some time to start, Kinto does not start and exists with this message:

<class 'json.decoder.JSONDecodeError'>: Expecting value: line 1 column 1 (char 0)

Im pretty sure this is as the issuer does not provide a valid json file.  In Previous versions of docker-compose it was possible to make the k

[2021-09-21 11:02] leplatrem commented on #2866
Could you please share the stacktrace? I'd like to understand what code path leads to a call to authentication on startup!

[2021-09-26 18:19] varunash010 commented on #881
Hey guys, I'm new to open source development and would like to contribute to this issue, if its still open.

Thanks.

[2021-09-29 13:19] leplatrem commented on #881
Hello,
I imagine that you picked this issue because of the `easy pick` label.
I don't think this has a high priority, and if you don't mind I would suggest you to look at the open issues labelled with `bug` instead.
Thank you for your interest!

[2021-09-29 13:20] leplatrem commented on #2679
I'm sorry that you remained without answer for so long.
Try to follow the steps for PostgreSQL:
https://docs.kinto-storage.org/en/latest/configuration/production.html#install-and-setup-postgresql

[2021-09-29 13:20] #2679 closed

[2021-09-29 13:23] leplatrem commented on #2668
Thanks for reporting this!
It was intended :) https://github.com/Kinto/kinto/blob/d4d096d7fa2cb231516461dddda643062d6e05e1/kinto/core/views/version.py#L49

[2021-09-29 13:23] #2668 closed

[2021-09-29 17:43] saurabh3796 commented on #2688
Can I take this? @leplatrem

[2021-09-29 17:50] leplatrem commented on #2688
Sure!

[2021-10-01 18:17] pawankm21 commented on #2676
I would like to work on this issue

[2021-10-02 09:11] s-surineni commented on #2687
Hi, Can I work on this issue?

[2021-10-02 13:44] s-surineni commented on #2687
@AlexB1986 Can you please provide more info to replicate the issue? I tried with your endpoint but I couldn't reproduce it

[2021-10-04 12:01] SimonKlausLudwig commented on #2866
kinto_1               | Traceback (most recent call last):
kinto_1               |   File "/usr/local/lib/python3.7/site-packages/pyramid/config/actions.py", line 307, in execute_actions
kinto_1               |     callable(*args, **kw)
kinto_1               |   File "/usr/local/lib/python3.7/site-packages/pyramid_multiauth/__init__.py", line 280, in grab_policies
kinto_1               |     polic

[2021-10-05 12:52] AlexB1986 commented on #2687
@s-surineni Hi! I retested on new Kinto docker image 14.4.0.dev0 (in 2020 I tested on 14.0.1.dev0)-- I can not reproduce it. Seems it was fixed.

[2021-10-05 13:11] leplatrem commented on #2687
I don't think there were much changes in that part of the code over this period of time.

The error suggests it comes from a specific content in the DB. Somewhere somehow a permission with only 2 parts is stored and it eventually crashes the perm endpoint when retrieving it with `_, object_id, permission = key.split(":", 2) `

[2021-10-07 09:52] leplatrem opened #2874 "Send cache control headers on version redirects"
This would allow redirects to be cache at the CDN level

[2021-10-14 15:25] grahamalama opened #2881 "Make a plan to drop Python 3.6 compatability after it reaches EOL"
Python 3.6 [is scheduled](https://devguide.python.org/#status-of-python-branches) to reach end-of-life (EOL) status later this year on 2021-12-23. We should consider if/when we want to follow suit and drop 3.6 compatibility from Kinto.

[2021-10-22 15:57] leplatrem opened #2894 "Deprecate the `quotas` plugin"
This plugin is not used in production at Mozilla anymore, and may therefore be «retired».

Even if we don't deprecate/remove it soon, we should at least communicate clearly about the situation :)

[2021-10-26 14:32] leplatrem opened #2897 "Migrate authn/authz to security policies of Pyramid 2"
In Pyramid 2, the concepts of authentication and authorization was replaced by a single one: security policies. The concept of principals was replaced with the concept of identity.

Kinto continues to work thanks to this backward [compatibility layer `LegacySecurityPolicy`](https://github.com/Pylons/pyramid/blob/8061fce297cc7117d3e6e2b39e47512c7db2904f/src/pyramid/security.py#L368-L389).

In Kinto

[2021-11-01 12:03] robinbanbury commented on #2676
@pawankm21 are you still planning on working on this? I would like to give it a try if not. Thanks :-)

[2021-11-02 16:11] pawankm21 commented on #2676
yeah, you can take this.

[2021-11-08 19:26] slav0nic opened #2909 "sentry raven lib is deprecated"
Sentry related documentation looks outdated.
raven package is outdated (3y ago) in favor of [sentry-sdk](https://docs.sentry.io/platforms/python/) lib

[2021-11-10 14:36] SimonKlausLudwig opened #2911 "Kinto automatically create non existing collection"
Is there a way to create the collection on the fly ?

Lets say im trying to create a record for the collection 'user' and user collection does not exists yet. Is it possible to create a default collection right away ?

[2021-11-10 14:50] leplatrem commented on #2911
Currently we only implemented this behavior on the `default_bucket` plugin, which has a lot of other specificities.

One possibility is to use the concurrency control requests headers in your client, to create only if it doesn't exist.

[code]

If it exists it will return 412 (that your client code can ignore on purpose)
[code]

[2021-11-10 14:58] slav0nic commented on #2911
also you can manually create empty collection based on [notification](https://docs.kinto-storage.org/en/stable/core/notifications.html) on backend level.
For example: create profile collection when new account created.

[2021-11-12 14:19] zidingz opened #2912 "Responsible disclosure policy"
Hey there!

I belong to an open source security research community, and a member (@shellinjector) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best pr

[2021-11-15 11:34] leplatrem commented on #2295
@Natim or @dstaley, would you be interested in hosting an instance?

[2021-11-17 03:58] dstaley commented on #2295
I'm happy to run an instance! Could you share more info about the specs (CPU, memory, disk space, DB, etc.) for Mozilla's instance? I bet I could get away with something pretty small. Also if you could share the Kinto config for the server that would be helpful as well.

[2021-11-23 11:32] leplatrem commented on #2295
Thanks Dylan!

The machine is pretty small, 8GB of hard disk, only 500MB of RAM is used, and CPU is quadcore Intel(R) Xeon(R) CPU E5-2686 v4 @ 2.30GHz.  And it runs a PostgreSQL locally.

The configuration is:

[code]
I can give you the secrets via a secure channel.

But I'm not sure we should keep Portier, since we don't really maintain `kinto-portier` (it works but we don't use it at Mozilla, an

[2021-11-23 14:12] ShellInjector commented on #2912
Please check report!

https://www.huntr.dev/bounties/232546f3-3a2d-401e-a732-389c82129a39/

[2021-11-30 10:50] #2912 closed

[2021-12-05 19:33] slav0nic commented on #2897
Yes, pyramid official docs recommended did it in this way. _But in my projects i still stuck with old api :)_
Here is also some examples from the core: [AuthTktCookieHelper](https://github.com/Pylons/pyramid/blob/8061fce297cc7117d3e6e2b39e47512c7db2904f/src/pyramid/authentication.py#L824), [SessionAuthenticationHelper](https://github.com/Pylons/pyramid/blob/8061fce297cc7117d3e6e2b39e47512c7db2904f

[2021-12-15 15:10] leplatrem commented on #2897
@slav0nic was suggesting to look at https://github.com/hypothesis/h/issues/6595

[2022-01-19 15:01] grahamalama opened #2941 "Replace current Kinto Admin setup with `kinto-admin` git submodule"
WIP
- [ ] Update build scripts
- [ ] Update Makefile

[2022-01-23 09:19] Sherry3 commented on #2688
@saurabh3796 are you working on fixing this issue? If not then I would like to try to fix it. @leplatrem Is this OK?
I am new to open source community, so don't know the exact practices. Please guide me.
This one seems to be easy one and I didn't see any recent activity, hence I wanted to work on it.

[2022-01-24 09:42] leplatrem commented on #2688
Seeing that @saurabh3796 hasn't given news since September, it seems pretty reasonable for you to give it a try :) Don't hesitate to open a pull-request even if your code is not ready or not working

[2022-01-24 13:56] grahamalama opened #2943 "Replace `psycopg2` with `psycopg2-binary`?"
I'm opening this issues as a venue of discussion about whether we should replace `psycopg2` with `psycopg2-binary` in this repo.

In #2942, we replaced `psycopg-binary` with `psycopg2` in [requirements.txt](https://github.com/Kinto/kinto/blob/46c84bb52ee2732a4bb9469274a3c75fb4c90ba8/requirements.txt#L10), since `kinto[postgresql]` [requires `psycopg2` specifically](https://github.com/Kinto/kinto/b

[2022-01-26 20:58] grahamalama commented on #2941
I'm going to think a little bit more about this before I reopen it as an issue (if I do). The problem I'd like to solve is preventing issues like [this one](https://github.com/Kinto/kinto/pull/2859). Rather than have two `package.json`s to juggle with potentially conflicting dependencies, it would be nice to somehow be able to build `kinto-admin` directly from source to package in the Kinto `admin

[2022-01-26 20:58] #2941 closed

[2022-04-09 05:21] MBhartiya commented on #2688
@AlexB1986 @leplatrem  I tried recreating this issue, running via
**docker run -p 8888:8888 kinto/kinto-server** with **kinto/kinto-server:latest** being higher than 14.3.0.
I created an admin account and tried to reproduce but always got 200.

[code]

I think this issue does not exist anymore.

[2022-04-13 14:08] leplatrem commented on #2688
Apparently it cannot be reproduced. I tried as well with the following steps:

[code]

And then:
[code]

[2022-04-14 00:57] mohamedBenHachme commented on #2688
Okay thanks, can you suggest an issue that I can work on as I said this will be my first contribution; thanks in advance.

[2022-04-15 09:20] MBhartiya opened #2982 "id missing in the payload for the endpoint POST /accounts"
In the response for GET  /\__api\__,

for the endpoint POST /accounts, the ObjectSchema( body) is
<img width="1711" alt="Screenshot 2022-04-15 at 2 07 07 PM" src="https://user-images.githubusercontent.com/26853764/163551763-7f9821ef-0586-4fb6-bc3b-0e84423ffcb1.png">

Using this body gives the following error,

[code]
The "id" field is missing in the body of the endpoint POST /accounts in the OpenA

[2022-04-18 07:13] vinod-mortgagekart opened #2983 "Last modified field in collection is incorrect"
I am using Kinto on local server by installing on system. Kinto stores a 'last modified' data field whenever we insert a document in 'Kinto' collection. I found an issue with 'last modified' field whenever I inserted the data. The 'last modified' is an unix timestamp. I tried converting the unix timestamp to the Date format, and that doesn't matches with the time when the document was inserted. Wh

[2022-04-19 01:14] dstaley commented on #2983
Hi @vinod-mortgagekart, thank you for letting us know about this issue. I have a few questions:

1. What operating system are you running Kinto server on?
2. What database are you using Kinto with (memory or Postgres)? If Postgres, what operating system is the database running on?
3. Can you provide your `kinto.ini` config for your server? Please redact any sensitive details.
4. Can you provide th

[2022-04-19 15:57] Standard8 opened #2984 "Either don't send email notification or only selectively notify about changes to nimbus-desktop-experiments"
Every change to `main-workspace/nimbus-desktop-experiments` is currently notified to each reviewer by email.

These don't seem to carry much value, as they are generated as part of the process of actually releasing an experiment - the reviewer will go and approve them straight away, and they shouldn't need to know that they've approved them.

Whilst reviewers could use email filters to filter thes

[2022-04-19 16:05] #2984 closed

[2022-04-20 06:57] vinod-mortgagekart commented on #2983
1. I am running Kinto on Ubuntu system
2. Postgres Database, the database is also running on ubuntu
3.
[kinto.txt](https://github.com/Kinto/kinto/files/8519057/kinto.txt)
4. I am actually not sure, what do you mean by client code?

[2022-04-20 07:50] dstaley commented on #2983
By client code I mean the code you used to insert consecutive records.

[2022-04-20 07:59] vinod-mortgagekart commented on #2983
Oh, got it. So I am using python. I use the kinto_http library for interacting with Kinto. To insert consecutive records, I used a loop inside which 'create_record' method was used. Example - client.create_record(id = None,data = data,bucket = "default",collection = "test_data")
But, I don't think it's language dependent, as we are getting the same error using node.js

[2022-04-20 08:23] dstaley commented on #2983
Oh, it's nice you've confirmed this happens with multiple clients! Can you also confirm that the Postgres database is configured to use UTC time zone? Also can you try your code again and share the timestamps you get? The two you shared are exactly 5.5 hours + 1 ms apart, so I'm curious if that's always the case.

[2022-04-21 05:26] vinod-mortgagekart commented on #2983
Yes, the postgres database is configured for UTC timezone using the query - 'SET TIME ZONE 'UTC' . I tried inserting the 4 documents consecutively, and all of them are 5.5 hrs apart.
1st  - 1650557896877 -  (Thursday, 21 April 2022 16:18:16.877) GMT
2nd - 1650577696878 - (Thursday, 21 April 2022 21:48:16.878) GMT
3rd - 1650597496879 -  (Friday, 22 April 2022 03:18:16.879) GMT
4th - 1650617296880 -

[2022-04-21 06:10] dstaley commented on #2983
The fact that each record is exactly 5.5 hours + 1 ms apart leads me to believe there's something wrong with either your Postgres configuration or your server configuration. When you run Kinto you should see output that starts with `INFO [kinto.core] Running kinto 14.6.1`. Can you check to see if that log has any mention of timezone issues? We recommend using `ALTER DATABASE` to set the timezone,

[2022-06-15 04:59] kirtan-desai commented on #2909
What is needed to be done? I can do it

[2022-06-15 07:53] leplatrem commented on #2909
This would consist in replacing the use and mentions of raven by sentry-sdk

thank you!

[2022-06-16 00:43] kirtan-desai commented on #2909
I may be wrong but I could not find any usage of raven. I could only find its mentions as a dependency and in the docs/configuration/production.rst file. Isn't the code in the production.rst file supposed to be in an ini file itself?

[2022-06-16 15:33] leplatrem commented on #2687
[code]

[2022-06-29 15:06] ZeroAurora opened #3008 "Wait until database starts before starting Kinto in Docker Compose"
When starting kinto the first time using docker-compose, the startup failed and I could not access the API. The log tells me that kinto exited immediately after trying to connect the database, which hadn't been fully initialized then.

Maybe waiting for or retrying database connection can solve this problem.

See https://docs.docker.com/compose/startup-order/ for Docker's explanation.
<details>
<s

[2022-10-10 16:22] leplatrem opened #3054 "Replace `raven` by `sentry-python`"
`raven` is deprecated, we should use replace it with the maintained library.

https://github.com/getsentry/raven-python#readme

[2022-10-12 01:18] 1992Kongpc opened #3059 "KPC"
https://github.com/Kinto/kinto/blob/3a806a426a3b96b2344b52f6ac1832cb25821cbc/kinto/__init__.py#L15

[2022-10-12 05:35] #3059 closed

[2022-10-14 14:16] #3054 closed